// font-awesome
@import '~@fortawesome/fontawesome-svg-core/styles.css';

// custom variables
$root-font-size: 100;

@import '~void-ui/src/index.scss';

@import '~@docs/variables.scss';

// Components
$namespace: 'c';
@import '@docs/components/all.scss';

// Views
$namespace: 'v';
@import '@docs/views/app.scss';

// Examples
$namespace: 'e';
@import '@docs/examples/all.scss';
