// font-awesome
@import '~@fortawesome/fontawesome-svg-core/styles.css';

// custom variables
$root-font-size: 100;

@import '../../void-ui/src/index.scss';

@import '~@src/variables.scss';

// Components
$namespace: 'c';
@import '@src/components/all.scss';

// Views
$namespace: 'v';
@import '@src/views/app.scss';

// Examples
$namespace: 'e';
@import '@src/examples/all.scss';
