/**
 * Control: Card
 */
@include comp('card') {
  position: relative;
  width: 100%;
  overflow: hidden;

  font-size: $font-size-base;
  line-height: $line-height-normal;

  @include elem('header') {
    font-weight: bold;
  }

  @include elem('header', 'inner') {
    position: relative;
    padding: $gutter-base;
  }

  @include elem('header', 'separator') {
    position: relative;
    border-bottom: 1px solid transparent;
  }

  @each $theme in $enum-theme {
    background-color: theme('#{$theme}-bg-normal');
    @include elem('header', 'separator') {
      border-color: theme('#{$theme}-bd-normal');
    }
  }
}
