/**
 * Control: Card
 */
@include comp('card') {
  position: relative;
  width: 100%;
  overflow: hidden;

  font-size: $font-size-base;
  line-height: $line-height-normal;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include elem('header', 'inner', 'separator') {
    position: relative;
    width: 100%;
    flex: 0 1 100%;
  }

  @include elem('header') {
    font-weight: bold;

    height: $card-header-height;
    padding: 0 $gutter-base;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @include elem('inner') {
    padding: $gutter-base $gutter-base $gutter-base $gutter-base;
  }

  @include elem-adjacent('inner') {
    padding-top: 0;
  }

  @include elem('header', 'separator') {
    border-bottom: 1px solid transparent;
  }

  @each $theme in $enum-theme {
    background-color: theme('#{$theme}-bg-normal');
    @include elem('header', 'separator') {
      border-color: theme('#{$theme}-bd-normal');
    }
  }
}
