/**
 * Component: NavBar
 */
@include comp('nav-bar') {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem($nav-bar-height);
  padding: 0 rem($gap-base / 2);

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      background-color: theme($theme, 'bg');
      border-bottom: rem($border-base) solid theme($theme, 'bd');
    }
  }

  @include elem('wrapper') {
    height: 100%;
    margin: 0;
  }

  @include elem('item') {
    font-size: 120%;
  }
}
