/**
 * Control: Gallery
 */
@include comp('gallery') {
  position: relative;
  width: 100%;

  @include elem('body') {
    position: relative;
    width: 100%;
    padding-bottom: 9 / 16 * 100%;
  }

  @include elem('selected-container') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include elem('selected') {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @each $theme in $enum-theme {
    background-color: theme('#{$theme}-bg-normal');
    @include elem('current') {
      // background-color: theme('#{$theme}-bg-lower');
    }
  }

  @include elem('footer') {
    width: 100%;
    padding: $gutter-base / 2;
  }

  @include elem('item-wrapper') {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: $gutter-base / 4;
    overflow: hidden;
  }

  @include elem('item') {
    position: relative;
    min-width: 1 / 6 * 100%;
    flex: 0 1 (1 / 6 * 100%);

    padding: $gutter-base / 4;
    border: none;
    background-color: transparent;

    transition: $transition-1;
    transition-property: filter;
    filter: brightness(50%);
    @include when('selected') {
      filter: brightness(100%);
    }
  }
  @include elem('item-inner') {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 9 / 16 * 100%;
  }
  @include elem('item-thumbnail-container') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @include elem('item-thumbnail') {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
