/**
 *
 * Atomic css rules
 *
 */

@include define-atom('bg-white') {
  background-color: #fff;
}
@include define-atom('bg-black') {
  background-color: #000;
}

/*-------- grade --------*/
@each $grade, $value in $grade-map {
  @include define-atom('grade-#{$grade}') {
    background-color: $value;
  }
  @include define-atom('grade-#{$grade}-bg') {
    background-color: $value;
  }
  @include define-atom('grade-#{$grade}-fg') {
    color: $value;
  }
  @include define-atom('grade-#{$grade}-bd') {
    border-color: $value;
  }
}

/*-------- raise --------*/
@include define-atom('raise-0') {
  box-shadow: none;
}
@for $i from 1 through 9 {
  @include define-atom('raise-#{$i}') {
    box-shadow: 0 #{$i}px #{$i * 3}px 0 rgba(#000, 0.3);
  }
}
