@import 'normalize';

html {
  font-size: $font-size-root;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

body {
  position: relative;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $genre-lite-foreground;
  line-height: $line-height-base;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  margin: $heading-margin;
  font-weight: $heading-font-weight-default;
}

@each $heading, $font-size in $heading-font-sizes {
  #{$heading} {
    font-size: $font-size;
  }
}
@each $heading, $font-weight in $heading-font-weights {
  #{$heading} {
    font-weight: $font-weight;
  }
}

a {
  color: $color-primary;
  text-decoration: none;
}
a:hover {
  color: $color-primary-lighten;
}

button,
input,
optgroup,
select,
textarea {
  line-height: $line-height-base;
}

input,
textarea,
select,
button {
  font: inherit;
  color: inherit;
  padding: 0;
  border: $border-base;
  outline: none;
}

a
select,
button {
  cursor: pointer;
}
