/*----------  Prefix Namespace  ----------*/

$void: 'vd';


/*----------  Root  ----------*/

$font-size-root: 100px;


/*----------  Base  ----------*/

// font
$font-family-base: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Arial', 'sans-serif';

$font-size-base:    0.14rem;
$font-size-small:   0.12rem;
$font-size-medium:  0.14rem;
$font-size-large:   0.18rem;

$font-size-article: 0.16rem;

$line-height-base: 1.6;

// border
$border-base: 1px solid transparent;
$border-radius-base: 2px;

// gutter
$gutter-xsmall:   8px;
$gutter-small:    16px;
$gutter-medium:   24px;
$gutter-large:    32px;
$gutter-xlarge:   40px;

$gutter-sizes: (
  xsmall:   $gutter-xsmall,
  small:    $gutter-small,
  medium:   $gutter-medium,
  large:    $gutter-large,
  xlarge:   $gutter-xlarge,
);



/*---------- Style System ----------*/

$ss-genres:   'lite', 'dark';
$ss-themes:   'primary', 'success', 'warning', 'danger', 'secondary';
$ss-skins:    'fill', 'flat', 'plain', 'silk';
$ss-shapes:    'rect', 'square', 'circle';
$ss-sizes:     'small', 'medium', 'large';

$color-white: #fff;
$color-black: #000;

$lite-foreground:           #333;
$lite-foreground-disabled:  #bbb;
$lite-secondary:            #888;
$lite-background:           #fff;
$lite-background-card:      #fff;
$lite-background-disabled:  transparent;
$lite-background-hover:     #eee;
$lite-border:               #eee;
$lite-border-interative:    #888;

$dark-foreground:           #eee;
$dark-foreground-disabled:  #777;
$dark-secondary:            #888;
$dark-background:           #333;
$dark-background-card:      #3e3e3e;
$dark-background-disabled:  transparent;
$dark-background-hover:     #4e4e4e;
$dark-border:               #4e4e4e;
$dark-border-interative:    #ccc;

$genre-foreground: (
  lite:     $lite-foreground,
  dark:     $dark-foreground,
);
$genre-foreground-disabled: (
  lite:     $lite-foreground-disabled,
  dark:     $dark-foreground-disabled,
);
$genre-secondary: (
  lite:     $lite-secondary,
  dark:     $dark-secondary,
);
$genre-background: (
  lite:     $lite-background,
  dark:     $dark-background,
);
$genre-background-card: (
  lite:     $lite-background-card,
  dark:     $dark-background-card,
);
$genre-background-disabled: (
  lite:     $lite-background-disabled,
  dark:     $dark-background-disabled,
);
$genre-background-hover: (
  lite:     $lite-background-hover,
  dark:     $dark-background-hover,
);
$genre-border: (
  lite:     $lite-border,
  dark:     $dark-border,
);
$genre-border-interative: (
  lite:     $lite-border-interative,
  dark:     $dark-border-interative,
);

$color-primary-darkener:    #0080b0;
$color-primary-darken:      #0098c2;
$color-primary:             #00abd0;
$color-primary-lighten:     #00bedb;
$color-primary-lightenner:  #34d2e9;

$color-danger-darkener:     #f16c00;
$color-danger-darken:       #fc7a00;
$color-danger:              #ff9100;
$color-danger-lighten:      #ffaa00;
$color-danger-lightener:    #ffc017;

$color-warning-darkener:    #f16c00;
$color-warning-darken:      #fc7a00;
$color-warning:             #ff9100;
$color-warning-lighten:     #ffaa00;
$color-warning-lightener:   #ffc017;

$color-success-darkener:    #2a9a2f;
$color-success-darken:      #42a546;
$color-success:             #4caf50;
$color-success-lighten:     #54bf58;
$color-success-lightener:   #65d669;

$color-secondary-darkener:  #888;
$color-secondary-darken:    #999;
$color-secondary:           #aaa;
$color-secondary-lighten:   #bbb;
$color-secondary-lightener: #ccc;

$theme-colors: (
  primary-darkener:    $color-primary-darkener,
  primary-darken:      $color-primary-darken,
  primary:             $color-primary,
  primary-lighten:     $color-primary-lighten,
  primary-lightenner:  $color-primary-lightenner,

  danger-darkener:    $color-danger-darkener,
  danger-darken:      $color-danger-darken,
  danger:             $color-danger,
  danger-lighten:     $color-danger-lighten,
  danger-lightener:   $color-danger-lightener,

  warning-darkener:    $color-warning-darkener,
  warning-darken:      $color-warning-darken,
  warning:             $color-warning,
  warning-lighten:     $color-warning-lighten,
  warning-lightener:   $color-warning-lightener,

  success-darkener:    $color-success-darkener,
  success-darken:      $color-success-darken,
  success:             $color-success,
  success-lighten:     $color-success-lighten,
  success-lightener:   $color-success-lightener,

  secondary-darkener:  $color-secondary-darkener,
  secondary-darken:    $color-secondary-darken,
  secondary:           $color-secondary,
  secondary-lighten:   $color-secondary-lighten,
  secondary-lightener: $color-secondary-lightener,
);


/*----------  Common  ----------*/

$scrollbar-width: 16px;

$breakpoint-xsmall:     320px !default;
$breakpoint-small:      768px !default;
$breakpoint-medium:    1024px !default;
$breakpoint-large:     1440px !default;
$breakpoint-xlarge:    1920px !default;

$wrapper-width-xsmall:    100% !default;
$wrapper-width-small:     100% !default;
$wrapper-width-medium:   880px !default;
$wrapper-width-large:   1200px !default;
$wrapper-width-xlarge:  1200px !default;

$container-padding: 0.24rem;
$section-padding:   0.40rem;

$article-font-size: 0.16rem;
$article-line-height: 1.7;
$article-foreground: $lite-foreground;

$article-heading-line-height: 1.33;
$article-heading-margin: 1em 0 0.5em 0;

$article-heading-font-sizes: (
  1: 0.48rem,
  2: 0.36rem,
  3: 0.28rem,
  4: 0.24rem,
  5: 0.20rem,
  6: 0.18rem,
);

$article-heading-font-weight-default: bold;
$article-heading-font-weights: (
  1: normal,
  2: normal,
  3: normal,
  4: bold,
  5: bold,
  6: bold,
);

$article-paragraph-font-size: $article-font-size;
$article-paragraph-margin: 0.8em 0;

$article-blockquote-foreground: #666;
$article-blockquote-background: #f5f5f5;
$article-blockquote-padding: 0.5em 1em;
$article-blockquote-border-left: 3px solid #ddd;
$article-blockquote-margin: 1em 0;
$article-blockquote-paragraph-margin: 0.4em 0;

$article-list-padding-left: 2em;
$article-list-margin: 0.8em 0;
$article-listitem-margin: 0.5em 0;




/*----------  Score  ----------*/

$score-width: 0.48rem;
$score-height: 0.75rem;
$score-font-size: 0.22rem;

$color-score-0: #ff3333;
$color-score-1: #ff7e34;
$color-score-2: #ffcc00;
$color-score-3: #58d000;
$color-score-4: #24cf4c;

$score-colors: (
  0: $color-score-0,
  1: $color-score-0,
  2: $color-score-1,
  3: $color-score-1,
  4: $color-score-2,
  5: $color-score-2,
  6: $color-score-3,
  7: $color-score-3,
  8: $color-score-4,
  9: $color-score-4,
);

$score-inner-heights: (
  0: $score-height,
  1: $score-height - (0.03rem * 1),
  2: $score-height - (0.03rem * 2),
  3: $score-height - (0.03rem * 3),
  4: $score-height - (0.03rem * 4),
  5: $score-height - (0.03rem * 5),
  6: $score-height - (0.03rem * 6),
  7: $score-height - (0.03rem * 7),
  8: $score-height - (0.03rem * 8),
  9: $score-height - (0.03rem * 9),
);

$score-inner-padding: 0.04rem;

