/*----------  Prefix Namespace  ----------*/

$void: 'vd';


/*----------  Root  ----------*/

$font-size-root: 100px;


/*----------  Typography  ----------*/

// font
$font-family-base: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Arial', 'sans-serif';
$font-family-code: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif';

$font-size-base:    0.14rem;
$font-size-code:    0.144rem;

$font-size-small:   0.12rem;
$font-size-medium:  0.14rem;
$font-size-large:   0.18rem;

$font-size-article: 0.16rem;

$line-height-base: 1.6;


/*---------- Style System ----------*/

$ss-themes:   'lite', 'dark';
$ss-tones:   'primary', 'secondary', 'success', 'warning', 'danger';
$ss-skins:    'fill', 'flat', 'plain', 'silk';
$ss-shapes:    'rect', 'square', 'circle';
$ss-sizes:     'small', 'medium', 'large';

$color-white: #fff;
$color-black: #000;

$theme-lite-foreground:             #333333;
$theme-lite-foreground-emphasize:   #222222;
$theme-lite-foreground-secondary:   #888888;
$theme-lite-foreground-placeholder: #999999;
$theme-lite-foreground-disabled:    #bbbbbb;
$theme-lite-background:             #ffffff;
$theme-lite-background-high:        #fafafa;
$theme-lite-background-higher:      #f5f5f5;
$theme-lite-background-hover:       #eeeeee;
$theme-lite-background-border:      #eeeeee;
$theme-lite-background-disabled:    #efefef;

$theme-dark-foreground:             #eeeeee;
$theme-dark-foreground-emphasize:   #f5f5f5;
$theme-dark-foreground-secondary:   #aaaaaa;
$theme-dark-foreground-placeholder: #999999;
$theme-dark-foreground-disabled:    #888888;
$theme-dark-background:             #333333;
$theme-dark-background-high:        #383838;
$theme-dark-background-higher:      #3e3e3e;
$theme-dark-background-hover:       #4e4e4e;
$theme-dark-background-border:      #4e4e4e;
$theme-dark-background-disabled:    #555555;

$theme-foreground-colors: (
  lite:             $theme-lite-foreground,
  lite-emphasize:   $theme-lite-foreground-emphasize,
  lite-secondary:   $theme-lite-foreground-secondary,
  lite-placeholder: $theme-lite-foreground-placeholder,
  lite-disabled:    $theme-lite-foreground-disabled,

  dark:             $theme-dark-foreground,
  dark-emphasize:   $theme-dark-foreground-emphasize,
  dark-secondary:   $theme-dark-foreground-secondary,
  dark-placeholder: $theme-dark-foreground-placeholder,
  dark-disabled:    $theme-dark-foreground-disabled,
);

$theme-background-colors: (
  lite:             $theme-lite-background,
  lite-high:        $theme-lite-background-high,
  lite-higher:      $theme-lite-background-higher,
  lite-hover:       $theme-lite-background-hover,
  lite-border:      $theme-lite-background-border,
  lite-disabled:    $theme-lite-background-disabled,

  dark:             $theme-dark-background,
  dark-high:        $theme-dark-background-high,
  dark-higher:      $theme-dark-background-higher,
  dark-hover:       $theme-dark-background-hover,
  dark-border:      $theme-dark-background-border,
  dark-disabled:    $theme-dark-background-disabled,
);

$tone-primary-darkener:    #0080b0;
$tone-primary-darken:      #0098c2;
$tone-primary:             #00abd0;
$tone-primary-lighten:     #00bedb;
$tone-primary-lightener:   #34d2e9;

$tone-success-darkener:    #1da63d;
$tone-success-darken:      #21bd45;
$tone-success:             #24cf4c;
$tone-success-lighten:     #2cdb55;
$tone-success-lightener:   #46eb6d;

$tone-warning-darkener:    #ffaa00;
$tone-warning-darken:      #ffbb00;
$tone-warning:             #ffcc00;
$tone-warning-lighten:     #ffdd33;
$tone-warning-lightener:   #ffee44;

$tone-danger-darkener:     #cc2828;
$tone-danger-darken:       #e62d2d;
$tone-danger:              #ff3333;
$tone-danger-lighten:      #ff4d4d;
$tone-danger-lightener:    #ff6666;

$tone-secondary-darkener:  #888;
$tone-secondary-darken:    #999;
$tone-secondary:           #aaa;
$tone-secondary-lighten:   #bbb;
$tone-secondary-lightener: #ccc;

$tone-colors: (
  primary-darkener:    $tone-primary-darkener,
  primary-darken:      $tone-primary-darken,
  primary:             $tone-primary,
  primary-lighten:     $tone-primary-lighten,
  primary-lightenner:  $tone-primary-lightener,

  success-darkener:    $tone-success-darkener,
  success-darken:      $tone-success-darken,
  success:             $tone-success,
  success-lighten:     $tone-success-lighten,
  success-lightener:   $tone-success-lightener,

  warning-darkener:    $tone-warning-darkener,
  warning-darken:      $tone-warning-darken,
  warning:             $tone-warning,
  warning-lighten:     $tone-warning-lighten,
  warning-lightener:   $tone-warning-lightener,

  danger-darkener:    $tone-danger-darkener,
  danger-darken:      $tone-danger-darken,
  danger:             $tone-danger,
  danger-lighten:     $tone-danger-lighten,
  danger-lightener:   $tone-danger-lightener,

  secondary-darkener:  $tone-secondary-darkener,
  secondary-darken:    $tone-secondary-darken,
  secondary:           $tone-secondary,
  secondary-lighten:   $tone-secondary-lighten,
  secondary-lightener: $tone-secondary-lightener,
);


/*----------  Container  ----------*/

// border
$border-base: 1px solid transparent;
$border-radius-base: 2px;

// outline
$outline-base: $tone-primary solid 1px;

// gutter
$gutter-xsmall:   8px;
$gutter-small:    16px;
$gutter-medium:   24px;
$gutter-large:    32px;
$gutter-xlarge:   40px;

$gutter-sizes: (
  xsmall:   $gutter-xsmall,
  small:    $gutter-small,
  medium:   $gutter-medium,
  large:    $gutter-large,
  xlarge:   $gutter-xlarge,
);

$scrollbar-width: 16px;

$breakpoint-xsmall:     320px !default;
$breakpoint-small:      768px !default;
$breakpoint-medium:    1024px !default;
$breakpoint-large:     1440px !default;
$breakpoint-xlarge:    1920px !default;

$container-width-xsmall:    100% !default;
$container-width-small:     100% !default;
$container-width-medium:   880px !default;
$container-width-large:   1200px !default;
$container-width-xlarge:  1200px !default;


/*----------  Common  ----------*/

$container-padding: 0.24rem;
$section-padding:   0.40rem;

$article-font-size: 0.16rem;
$article-line-height: 1.7;

$heading-line-height: 1.33;
$heading-margin: 1em 0 0.5em 0;

$heading-font-sizes: (
  h1: 0.48rem,
  h2: 0.36rem,
  h3: 0.28rem,
  h4: 0.24rem,
  h5: 0.20rem,
  h6: 0.18rem,
);

$heading-font-weight-default: bold;
$heading-font-weights: (
  h1: normal,
  h2: normal,
  h3: normal,
  h4: bold,
  h5: bold,
  h6: bold,
);

$article-paragraph-font-size: $article-font-size;
$article-paragraph-margin: 0.8em 0;

$article-blockquote-foreground: #666;
$article-blockquote-background: #f5f5f5;
$article-blockquote-padding: 0.5em 1em;
$article-blockquote-border-left: 3px;
$article-blockquote-margin: 1em 0;
$article-blockquote-paragraph-margin: 0.4em 0;

$article-list-padding-left: 2em;
$article-list-margin:       0.8em 0;
$article-listitem-margin:   0.5em 0;


/*----------  Arcylic  ----------*/

$acrylic-background-blur:   24px;
$acrylic-cover-opacity:     0.32;


/*----------  Button  ----------*/

$button-font-sizes: (
  small:    0.12rem,
  medium:   0.14rem,
  large:    0.18rem,
);
$button-icon-sizes: (
  small:    0.10rem,
  medium:   0.12rem,
  large:    0.16rem,
);
$button-content-gutter: (
  small:    0.06rem,
  medium:   0.08rem,
  large:    0.12rem,
);

$button-rect-sizes: (
  small:    0.24rem,
  medium:   0.32rem,
  large:    0.40rem,
);
$button-rect-paddings: (
  small:    0.12rem,
  medium:   0.16rem,
  large:    0.24rem,
);

$button-square-sizes: (
  small:    0.40rem,
  medium:   0.48rem,
  large:    0.56rem,
);
$button-circle-sizes: (
  small:    0.42rem,
  medium:   0.52rem,
  large:    0.60rem,
);

/*----------  Navigation  ----------*/

$nav-foreground-color: $color-white !default;
$nav-background-color: $tone-primary !default;

$nav-foreground-color-high: $color-white !default;
$nav-background-color-high: $tone-primary-darken !default;

$sidebar-padding: 0.08rem 0;

$sidebar-width:           0.56rem;
$sidebar-width-expanded:  2.80rem;

$sidebar-item-heights: (
  small:    0.40rem,
  medium:   0.56rem,
  large:    0.64rem,
);

$sidebar-item-font-sizes: (
  small:    0.16rem,
  medium:   0.16rem,
  large:    0.18rem,
);

$sidebar-item-font-size-logo: 0.24rem;


/*----------  Form  ----------*/

$form-wedgit-height: 0.32rem;
$form-wedgit-font-size: $font-size-base;

$form-wedgit-rect-size: 0.14rem;
$form-wedgit-circle-size: 0.16rem;

$form-wedgit-content-gutter: 0.04rem;
$form-wedgit-gutter: 0.16rem;

$form-wedgit-transition-duration: 0.2s;

$radio-inner-size: 0.06rem;

$toggle-outer-width: 0.32rem;
$toggle-middle-width-rect: 0.28rem;
$toggle-middle-width-circle: 0.32rem;
$toggle-inner-width-rect: 0.14rem;


/*----------  Score  ----------*/

$score-width: 0.48rem;
$score-height: 0.75rem;
$score-font-size: 0.24rem;

$grade-0: #ff3333;
$grade-1: #ff7e34;
$grade-2: #ffcc00;
$grade-3: #58d000;
$grade-4: #24cf4c;

$grade-colors: (
  0: $grade-0,
  1: $grade-0,
  2: $grade-1,
  3: $grade-1,
  4: $grade-2,
  5: $grade-2,
  6: $grade-3,
  7: $grade-3,
  8: $grade-4,
  9: $grade-4,
);
// $score-inner-heights: (
//   0: $score-height,
//   1: $score-height - (0.03rem * 1),
//   2: $score-height - (0.03rem * 2),
//   3: $score-height - (0.03rem * 3),
//   4: $score-height - (0.03rem * 4),
//   5: $score-height - (0.03rem * 5),
//   6: $score-height - (0.03rem * 6),
//   7: $score-height - (0.03rem * 7),
//   8: $score-height - (0.03rem * 8),
//   9: $score-height - (0.03rem * 9),
// );
$score-inner-heights: (
  9: $score-height,
  8: $score-height - (0.03rem * 1),
  7: $score-height - (0.03rem * 2),
  6: $score-height - (0.03rem * 3),
  5: $score-height - (0.03rem * 4),
  4: $score-height - (0.03rem * 5),
  3: $score-height - (0.03rem * 6),
  2: $score-height - (0.03rem * 7),
  1: $score-height - (0.03rem * 8),
  0: $score-height - (0.03rem * 9),
);
$score-inner-padding: 0.04rem;


/*----------  Indicators  ----------*/

$pseudo-dark-background: rgba(#000, 0.5) !default;
