$root-font-size: 100px;
$root-font-size-scale-xlarge: 1.6;

/* -------- enum  -------- */

$enum-theme:    'lite', 'dark';
$enum-tone:     'primary', 'secondary', 'success', 'warning', 'danger';
$enum-skin:     'fill', 'flat', 'plain', 'silk';
$enum-shape:    'rect', 'pill', 'square', 'circle';
$enum-size:     'xsmall', 'small', 'medium', 'large', 'xlarge';

/* -------- theme -------- */

$color-white: #ffffff;
$color-black: #000fff;

$theme-map: (
  lite-fg-emphasize:    var(--vd-theme-lite-fg-emphasize),
  lite-fg-normal:       var(--vd-theme-lite-fg-normal),
  lite-fg-sub:          var(--vd-theme-lite-fg-sub),
  lite-fg-placeholder:  var(--vd-theme-lite-fg-placeholder),
  lite-fg-disabled:     var(--vd-theme-lite-fg-disabled),
  
  lite-bg-higher:       var(--vd-theme-lite-bg-higher),
  lite-bg-high:         var(--vd-theme-lite-bg-high),
  lite-bg-normal:       var(--vd-theme-lite-bg-normal),
  lite-bg-low:          var(--vd-theme-lite-bg-low),
  lite-bg-lower:        var(--vd-theme-lite-bg-lower),
  lite-bg-hover:        var(--vd-theme-lite-bg-hover),
  lite-bg-disabled:     var(--vd-theme-lite-bg-disabled),
  
  lite-bd-normal:       var(--vd-theme-lite-bd-normal),
  lite-bd-disabled:     var(--vd-theme-lite-bd-disabled),
  lite-bd-focus:        var(--vd-theme-lite-bd-focus),
  
  dark-fg-emphasize:    var(--vd-theme-dark-fg-emphasize),
  dark-fg-normal:       var(--vd-theme-dark-fg-normal),
  dark-fg-sub:          var(--vd-theme-dark-fg-sub),
  dark-fg-placeholder:  var(--vd-theme-dark-fg-placeholder),
  dark-fg-disabled:     var(--vd-theme-dark-fg-disabled),
  
  dark-bg-higher:       var(--vd-theme-dark-bg-higher),
  dark-bg-high:         var(--vd-theme-dark-bg-high),
  dark-bg-normal:       var(--vd-theme-dark-bg-normal),
  dark-bg-low:          var(--vd-theme-dark-bg-low),
  dark-bg-lower:        var(--vd-theme-dark-bg-lower),
  dark-bg-hover:        var(--vd-theme-dark-bg-hover),
  dark-bg-disabled:     var(--vd-theme-dark-bg-disabled),
  
  dark-bd-normal:       var(--vd-theme-dark-bd-normal),
  dark-bd-disabled:     var(--vd-theme-dark-bd-disabled),
  dark-bd-focus:        var(--vd-theme-dark-bd-focus),
);

@function theme($key) {
  @return map-get($theme-map, $key);
}

/* -------- tone -------- */

$tone-map: (
  primary-darkener:     var(--vd-tone-primary-darkener),
  primary-darken:       var(--vd-tone-primary-darken),
  primary-standard:     var(--vd-tone-primary-standard),
  primary-lighten:      var(--vd-tone-primary-lighten),
  primary-lightener:    var(--vd-tone-primary-lightener),

  secondary-darkener:   var(--vd-tone-secondary-darkener),
  secondary-darken:     var(--vd-tone-secondary-darken),
  secondary-standard:   var(--vd-tone-secondary-standard),
  secondary-lighten:    var(--vd-tone-secondary-lighten),
  secondary-lightener:  var(--vd-tone-secondary-lightener),

  success-darkener:     var(--vd-tone-success-darkener),
  success-darken:       var(--vd-tone-success-darken),
  success-standard:     var(--vd-tone-success-standard),
  success-lighten:      var(--vd-tone-success-lighten),
  success-lightener:    var(--vd-tone-success-lightener),

  warning-darkener:     var(--vd-tone-warning-darkener),
  warning-darken:       var(--vd-tone-warning-darken),
  warning-standard:     var(--vd-tone-warning-standard),
  warning-lighten:      var(--vd-tone-warning-lighten),
  warning-lightener:    var(--vd-tone-warning-lightener),

  danger-darkener:      var(--vd-tone-danger-darkener),
  danger-darken:        var(--vd-tone-danger-darken),
  danger-standard:      var(--vd-tone-danger-standard),
  danger-lighten:       var(--vd-tone-danger-lighten),
  danger-lightener:     var(--vd-tone-danger-lightener),
);

@function tone($key) {
  @return map-get($tone-map, $key);
}

/* -------- grade -------- */

$grade-map: (
  1:    var(--vd-grade-1),
  2:    var(--vd-grade-2),
  3:    var(--vd-grade-3),
  4:    var(--vd-grade-4),
  5:    var(--vd-grade-5),
);

/* -------- shape -------- */
$border-radius-base:    0.02rem;
$border-width-base:     0.01rem;
$border-initial:        $border-width-base solid transparent;

/* -------- size -------- */

$gutter-base: 0.16rem;

/* -------- skin -------- */

/* -------- acrylic -------- */

$acrylic-blur:      16px;
$acrylic-brightness-map: (
  lite:     115%,
  dark:     85%,
);

/* -------- typographic -------- */

$font-family-base: 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Arial', sans-serif;
$font-family-code: 'Source Sans Pro', 'Helvetica Neue', 'Arial', monospace;

$font-size-base:      var(--vd-font-size-base);
$line-height-normal:  var(--vd-line-height-normal);
$line-height-base:    var(--vd-line-height-base);

/* -------- layout -------- */

$breakpoint-map: (
  xsmall:     768px,
  small:      1024px,
  medium:     1440px,
  large:      1920px,
  xlarge:     2560px,
);

@function breakpoint($key) {
  @return map-get($breakpoint-map, $key);
}

$card-header-height: 0.4rem;

$clamp-map: (
  xsmall:     100%,
  small:      880px,
  medium:     1200px,
  large:      1200px,
  xlarge:     1920px,
);

@function clamp($key) {
  @return map-get($clamp-map, $key);
}

$clamp-padding: $gutter-base;

$flexbox-gutter-map: (
  xsmall:     0.08rem,
  small:      0.16rem,
  medium:     0.24rem,
  large:      0.32rem,
  xlarge:     0.40rem,
);

/* -------- transition and anime -------- */

$transition-1: all ease-in-out 0.1s;

@function transition($duration: 200ms) {
  @return all ease-in-out $duration;
}

/* -------- button -------- */

$button-font-size-map: (
  xsmall:     0.12rem,
  small:      0.12rem,
  medium:     0.14rem,
  large:      0.18rem,
  xlarge:     0.24rem,
);

$button-height-map: (
  xsmall:     0.16rem,
  small:      0.24rem,
  medium:     0.32rem,
  large:      0.40rem,
  xlarge:     0.48rem,
);

$button-size-map-square: (
  xsmall:     0.32rem,
  small:      0.40rem,
  medium:     0.48rem,
  large:      0.56rem,
  xlarge:     0.64rem,
);

$button-size-map-circle: (
  xsmall:     0.32rem,
  small:      0.40rem,
  medium:     0.48rem,
  large:      0.56rem,
  xlarge:     0.64rem,
);

/* -------- form -------- */

$form-font-size:    0.14rem;
$form-row-height:   0.32rem;

$form-widget-transition-duration: 0.2s;
$form-widget-height: $form-row-height;
$form-widget-symbol-height: 0.16rem;

$form-widget-gutter: $gutter-base / 2;

$form-radio-symbol-size: $form-widget-symbol-height;
$form-radio-symbol-inner-size: $form-widget-symbol-height - 0.1rem;

$form-checkbox-symbol-size: $form-widget-symbol-height - 0.02rem;
