.#{$void}-loading {
  // map
  $size-widths: (
    'small':0.04rem,
    'medium':0.06rem,
    'large':0.08rem
  );

  $size-heights: (
    'small':0.08rem,
    'medium':0.13rem,
    'large':0.2rem
  );

  $loading-background-color: (
    'small':preloader,
    'medium':preloader,
    'large':preloader-green
  );

  $loading-bar-color: (
    1:$color-score-0,
    2:$color-score-1,
    3:$color-score-2,
    4:$color-score-3,
    5:$color-score-4
  );

  $animation-preloader: (
    1:preloader1,
    2:preloader2,
    3:preloader3,
    4:preloader4,
    5:preloader5
  );

  $loading-margin: 0.02rem;
  width: 0.5rem;
  margin: 2rem auto;

  @each $size in $ss-sizes {
    .#{$size}-size {
      @include flex(row,center);
      height: map-get($map:$size-heights, $key:$size);

      .bar {
        width: map-get($map:$size-widths, $key:$size);
        height: map-get($map:$size-heights, $key:$size);
        background-color: $theme-lite-foreground-disabled;
        border-radius: 1px;
        animation: map-get($map:$loading-background-color, $key:$size) 2s infinite
          ease-in-out;
        margin-right: $loading-margin;
        @for $i from 1 through 5 {
          &:nth-child(#{$i + 1}) {
            animation-timing-function: linear;
            animation-delay: (1000 / 5) * $i +ms;
          }
        }
      }
    }

    .loader-score {
      .bar {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            animation: map-get($map:$animation-preloader, $key:$i) 2s infinite ease-in-out;
            animation-timing-function: linear;
            animation-delay: (1000 / 5) * $i +ms;
          }
        }
      }
    }
  }
}

@keyframes preloader {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(3);
  }
  50% {
    transform: scaleY(1);
  }
}

@keyframes preloader-green {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $tone-primary;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}

@keyframes preloader1 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $color-score-0;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader2 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $color-score-1;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader3 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $color-score-2;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader4 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $color-score-3;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader5 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $color-score-4;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
