.#{$void}-loading {
  // map
  $size-widths: (
    small: 0.04rem,
    medium: 0.06rem,
    large: 0.08rem
  );

  $size-heights: (
    small: 0.08rem,
    medium: 0.13rem,
    large: 0.2rem
  );

  $loading-background-colors: (
    small: preloader,
    medium: preloader,
    large: preloader-green
  );

  $loading-bar-colors: (
    1: $grade-0,
    2: $grade-1,
    3: $grade-2,
    4: $grade-3,
    5: $grade-4
  );

  $animation-preloaders: (
    1: preloader1,
    2: preloader2,
    3: preloader3,
    4: preloader4,
    5: preloader5
  );

  $loading-margin: 0.02rem;

  @include flex(row, center, center);
  width: 100%;
  height: 100%;

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      background-color: map-get($map: $theme-background-colors, $key: $theme);
    }
  }

  .#{$void}-loading_container {
    @include flex(row, center, center);
    margin: auto;
  }

  @each $size in $ss-sizes {
    &.size-#{$size} {
      .#{$void}-loading_container {
        height: map-get($map: $size-heights, $key: $size);
      }

      .#{$void}-loading_bar {
        width: map-get($map: $size-widths, $key: $size);
        height: map-get($map: $size-heights, $key: $size);
        background-color: $theme-lite-foreground-disabled;
        border-radius: 1px;
        animation: preloader 2s infinite ease-in-out;
        margin-right: $loading-margin;
        @for $i from 1 through 5 {
          &:nth-child(#{$i + 1}) {
            animation-timing-function: linear;
            animation-delay: (1000 / 5) * $i + ms;
          }
        }
      }

      &.gray {
        .#{$void}-loading_bar {
          width: map-get($map: $size-widths, $key: $size);
          height: map-get($map: $size-heights, $key: $size);
          background-color: $theme-lite-foreground-disabled;
          border-radius: 1px;
          animation: default-preloader 2s infinite ease-in-out;
          margin-right: $loading-margin;
          @for $i from 1 through 5 {
            &:nth-child(#{$i + 1}) {
              animation-timing-function: linear;
              animation-delay: (1000 / 5) * $i + ms;
            }
          }
        }
      }
    }
  }

  &.multi-color {
    .#{$void}-loading_bar {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation: map-get($map: $animation-preloaders, $key: $i)
            2s
            infinite
            ease-in-out;
          animation-timing-function: linear;
          animation-delay: (1000 / 5) * $i + ms;
        }
      }
    }
  }

  &.covered {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
}

@keyframes preloader {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $tone-primary;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}

@keyframes default-preloader {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(3);
  }
  50% {
    transform: scaleY(1);
  }
}

@keyframes preloader1 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $grade-0;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader2 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $grade-1;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader3 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $grade-2;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader4 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $grade-3;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
@keyframes preloader5 {
  0% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
  25% {
    transform: scaleY(3);
    background-color: $grade-4;
  }
  50% {
    transform: scaleY(1);
    background-color: $theme-lite-foreground-disabled;
  }
}
