.#{$void}-radio {
  @include flex-inline(row,center,center);
  font-size: $form-wedgit-font-size;

  height: $form-wedgit-height;
  cursor: pointer;
  user-select: none;

  .radio-input {
    display: none;
  }

  .radio-outer,
  .radio-border,
  .radio-inner {
    border-radius: 50%;
  }

  .radio-outer {
    position: relative;
    @include flex(row, center, center);
    width: $form-wedgit-circle-size;
    height: $form-wedgit-circle-size;
  }

  .radio-border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: $border-base;
  }

  .radio-inner {
    position: relative;
    width: $radio-inner-size;
    height: $radio-inner-size;
    background-color: $color-white;
    transform: scale(0);
  }

  .radio-content {
    @include flex(row, center, center);
    margin-left: $form-wedgit-content-gutter;
  }

  /*----------  gutter  ----------*/

  & + & {
    margin-left: $form-wedgit-gutter;
  }

  /*----------  theme  ----------*/

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      .radio-outer {
        background-color: map-get($map: $theme-background-colors, $key: $theme);
      }
      .radio-border {
        border-color: map-get($map: $theme-foreground-colors, $key: $theme);
      }
    }
  }

  /*----------  hover & checked  ----------*/

  &:hover,
  &:focus,
  &.checked {
    .radio-border {
      border-color: $tone-primary;
    }
  }

  &.checked {
    .radio-border,
    .radio-inner {
      transition-duration: $form-wedgit-transition-duration / 2;
      transition-timing-function: ease-in;
    }
    .radio-border {
      border-width: $form-wedgit-circle-size / 2;
      transition-property: border-width;
      transition-delay: 0;
    }
    .radio-inner {
      transform: scale(1);
      transition-property: transform;
      transition-delay: $form-wedgit-transition-duration / 2;
    }
  }

  /*----------  checked  ----------*/

  @each $theme in $ss-themes {
    &.disabled.theme-#{$theme} {
      .radio-border {
        border-color: map-get($map: $theme-foreground-colors, $key: #{$theme}-disabled);
      }
      .radio-inner {
        background-color: map-get(
          $map: $theme-background-colors,
          $key: #{$theme}-disabled
        );
      }
      .radio-content {
        color: map-get($map: $theme-foreground-colors, $key: #{$theme}-disabled);
      }
    }
  }
}
