.DS_Store
node_modules/
/dist/
/dist_site/
/lib/
/typings/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
/test/coverage/
.coveralls.yml
selenium-debug.log

# Editor directories and files
.idea

*.suo
*.ntvs*
*.njsproj
*.sln
