{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "disableLanguages": [],
  "eslintIntegration": false,
  "ignorePath": ".prettierignore",
  "jsxBracketSameLine": false,
  "parser": "babylon",
  "printWidth": 140,
  "proseWrap": "preserve",
  "requireConfig": false,
  "semi": true,
  "singleQuote": true,
  "stylelintIntegration": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
