/**
 * Component: SideBar
 */
@include comp('side-bar') {
  position: relative;
  flex: none;
  width: rem(320);
  height: 100%;
  overflow-y: scroll;

  padding: rem($gap-base) 0;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  font-size: rem(14);
  line-height: rem(28);
  -moz-user-select: none;

  @include elem('wrapper', 'group', 'group-label', 'group-wrapper', 'item') {
    display: block;
    padding: 0;
    margin: 0;
  }

  @include elem('group') {
    display: flex;
    flex: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    margin: rem($gap-base) 0;
  }

  @include elem('group-label', 'item') {
    border-left: rem(4) solid transparent;
  }

  @include elem('group-label') {
    padding: 0 rem($gap-base);

    font-size: 90%;
  }

  @include elem('item') {
    display: flex;

    @include when('active') {
      font-weight: bold;
      border-left-color: tone();
      color: tone();
    }

    transition: ease-in-out 200ms;
    transition-property: border-color background-color;
  }

  @include elem('item-label') {
    flex: 1;
    padding-left: rem($gap-base * 2);
    padding-right: rem($gap-base);
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      background-color: theme($theme, 'bg');

      @include elem('group-label') {
        color: theme($theme, 'fg', 'sub');
      }

      @include elem('item') {
        @include when('active') {
          // color: theme($theme, 'fg', 'emphasize');
          background-color: theme($theme, 'bg', 'higher');
        }
        &:hover {
          background-color: theme($theme, 'bg', 'hover');
        }
      }
    }
  }
}
