.#{$void}-note {
  $note-width: 3.2rem;
  $note-tone-width: 0.36rem;
  $note-tone-height: 0.36rem;
  $note-height: 0.6rem;
  $content-font-size: 0.12rem;
  $title-font-size: 0.14rem;
  $icon-font-size: 0.3rem;
  $note-margin-left: 0.16rem;
  $content-font-lite-color: #333333;
  $content-font-dark-color: #eeeeee;
  $note-margin-base: 0.16rem 0.08rem;
  $note-padding-base: 0.08rem 0.16rem;
  $note-tone-color: #ffffff;
  $dark-background: #404040;
  $lite-background: #ffffff;
  //map
  $note-tone-background: (
    'success':$tone-success,
    'primary':$tone-primary,
    'warning':$tone-warning,
    'danger':$tone-danger
  );
  $note-font-color: (
    'lite':$content-font-lite-color,
    'dark':$content-font-dark-color
  );
  $note-theme-background: (
    'lite':$theme-lite-background,
    'dark':$theme-dark-background-higher
  );
  $note-theme-border: (
    'lite':$theme-lite-background-border,
    'dark':$theme-dark-background-border
  );
  width: $note-width;
  height: $note-height;
  padding: $note-padding-base;
  margin: $note-margin-base;
  border-radius: 1px;
  display: inline-flex;
  .note-outer {
    width: $note-tone-height;
    height: $note-tone-height;
    border-radius: 50%;
    color: $note-tone-color;
    line-height: $note-tone-height;
    text-align: center;
    font-size: $icon-font-size;
    @each $tone, $color in $note-tone-background {
      &.tone-#{$tone} {
        background: $color;
      }
    }
    &.tone-origin {
      display: none;
    }
  }
  .note-content {
    font-size: $content-font-size;
    .note-label {
      font-size: $title-font-size;
      font-weight: bold;
    }
    &.tone-origin {
      margin-left: 0;
    }
    .note-label + .note-descrip {
      margin-top: 0.04rem;
    }
  }
  .note-outer + .note-content {
    margin-left: $note-margin-left;
  }
  @each $theme, $color in $note-font-color {
    &.theme-#{$theme} {
      border: 1px solid map-get($map:$note-theme-border, $key:$theme);
      background: map-get($map:$note-theme-background, $key:$theme);
      .note-content {
        color: $color;
      }
    }
  }
}
