/**
 * Void-UI style variables
 */

// Core

$type-theme:  'lite', 'dark' !default;
$type-tone:   'primary', 'secondary', 'success', 'warning', 'danger' !default;
$type-skin:   'fill', 'flat', 'plain', 'silk';
$type-shape:  'rect', 'pill', 'square', 'circle';
$type-size:   'xsmall', 'small', 'medium', 'large', 'xlarge';

// Typographic

$font-family-base: (
  'Helvetica Neue',
  'Helvetica',
  'PingFang SC',
  'Hiragino Sans GB',
  'Microsoft YaHei',
  '微软雅黑',
  'Arial',
  sans-serif
) !default;

$font-size-map: (
  xsmall:   12,
  small:    14,
  medium:   15,
  large:    16,
  xlarge:   18,
) !default;

@function font-size($key) {
  @return map-get($font-size-map, $key);
}

$font-size-base:    14 !default;
$font-size-min:     12 !default;

$line-height-base:  1.618 !default;

// Colors

$color-white:   #ffffff !default;
$color-gray:    #777777 !default;
$color-black:   #000000 !default;

$color-border-common: rgba(128, 128, 128, 0.1) !default;

// theme
// fg: foreground color, as well as text color
// bg: background color
// bd: border color
// The border color `bd-normal` should be same as `bg-hover`.

$enum-theme-fg-levels: 'emphasize', 'normal', 'sub';
$enum-theme-bg-levels: 'higher', 'high', 'normal', 'low', 'lower';

$color-map-theme-lite: (
  fg-emphasize:       rgb(24, 24, 24),
  fg-normal:          rgb(56, 56, 56),
  fg-sub:             rgb(88, 88, 88),
  fg-placeholder:     rgb(88, 88, 88),
  fg-disabled:        rgb(88, 88, 88),

  bg-higher:          rgb(247, 247, 247),
  bg-high:            rgb(251, 251, 251),
  bg-normal:          rgb(255, 255, 255),
  bg-low:             rgb(251, 251, 251),
  bg-lower:           rgb(247, 247, 247),
  bg-hover:           rgb(227, 227, 227),
  bg-disabled:        rgb(227, 227, 227),

  bd-normal:          rgb(227, 227, 227), // same as bg-hover
  bd-disabled:        rgb(227, 227, 227), // same as fg-disabled
  bd-focus:           rgb(227, 227, 227),
) !default;

$color-map-theme-dark: (
  fg-emphasize:       rgb(255, 255, 255),
  fg-normal:          rgb(223, 223, 223),
  fg-sub:             rgb(191, 191, 191),
  fg-placeholder:     rgb(191, 191, 191),
  fg-disabled:        rgb(191, 191, 191),

  bg-higher:          rgb(40, 40, 40),
  bg-high:            rgb(36, 36, 36),
  bg-normal:          rgb(32, 32, 32),
  bg-low:             rgb(28, 28, 28),
  bg-lower:           rgb(24, 24, 24),
  bg-hover:           rgb(52, 52, 52),
  bg-disabled:        rgb(52, 52, 52),

  bd-normal:          rgb(52, 52, 52), // same as bg-hover
  bd-disabled:        rgb(52, 52, 52), // same as fg-disabled
  bd-focus:           rgb(52, 52, 52),
) !default;

$color-map-theme: (
  lite: $color-map-theme-lite,
  dark: $color-map-theme-dark,
) !default;

@function theme($theme, $role: 'fg', $level: 'normal') {
  $sub-map: map-get($map: $color-map-theme, $key: $theme);
  @if $sub-map == null {
    @error 'Theme #{$theme} not found.';
  }

  $value: map-get($map: $sub-map, $key: #{$role}-#{$level});

  @if $value {
    @if $vd-modern-css-variables {
      @return var(--theme-#{$theme}-#{$role}-#{$level});
    }
    @return $value;
  } @else {
    @error 'Theme color #{$theme}-#{$role}-#{$level} not found.';
  }
}

// tone

$color-map-tone-success: (
  lightener:    rgb(29, 220, 29),
  lighten:      rgb(27, 204, 27),
  standard:     rgb(25, 189, 25),
  darken:       rgb(23, 174, 23),
  darkener:     rgb(21, 159, 21),
) !default;

$color-map-tone-warning: (
  lightener:    rgb(255, 156, 76),
  lighten:      rgb(255, 145, 71),
  standard:     rgb(244, 134, 66),
  darken:       rgb(224, 124, 61),
  darkener:     rgb(205, 113, 55),
) !default;

$color-map-tone-danger: (
  lightener:    rgb(255, 95, 2),
  lighten:      rgb(255, 89, 2),
  standard:     rgb(255, 82, 1),
  darken:       rgb(255, 76, 1),
  darkener:     rgb(253, 69, 1),
) !default;

$color-map-tone-primary: (
  lightener:    rgb(46, 203, 255),
  lighten:      rgb(43, 189, 243),
  standard:     rgb(40, 175, 225),
  darken:       rgb(37, 161, 207),
  darkener:     rgb(34, 147, 189),
) !default;

$color-map-tone-secondary: (
  lightener:    rgb(28, 212, 191),
  lighten:      rgb(26, 197, 178),
  standard:     rgb(24, 183, 164),
  darken:       rgb(22, 168, 151),
  darkener:     rgb(20, 153, 138),
) !default;

$color-map-tone: (
  primary:      $color-map-tone-primary,
  secondary:    $color-map-tone-secondary,
  success:      $color-map-tone-success,
  warning:      $color-map-tone-warning,
  danger:       $color-map-tone-danger,
) !default;

@function tone($tone: 'primary', $level: 'standard') {
  $sub-map: map-get($map: $color-map-tone, $key: $tone);
  @if $sub-map == null {
    @error 'Tone #{$tone} not found.';
  }

  $value: map-get($map: $sub-map, $key: $level);

  @if $value {
    @if $vd-modern-css-variables {
      @return var(--tone-#{$tone}-#{$level});
    }
    @return $value;
  } @else {
    @error 'Tone color #{$tone}-#{$level} not found.';
  }
}

// Grade (Score Level)
$color-map-grade: (
  1: #ff3333,
  2: #ff7e34,
  3: #ffcc00,
  4: #58d000,
  5: #24cf4c,
);

@function grade($grade) {
  $value: map-get($map: $color-map, $key: $level);
  
  @if $value {
    @if $vd-modern-css-variables {
      @return var(--grade-#{$grade});
    }
    @return $value;
  } @else {
    @error 'Grade color #{$grade} not found.';
  }
}

// Raise (Shadow)

@function __gen-raise-shadow($level) {
  @return (
    rgba(0, 0, 0, (0.12 + 0.01 * $level)) 0 rem(2 * $level) rem(4 * $level),
    rgba(0, 0, 0, (0.10 + 0.01 * $level)) 0 rem(0.5 * $level) rem(1 * $level),
  );
}

$raise-shadow-map: (
  1: __gen-raise-shadow(1),
  2: __gen-raise-shadow(2),
  3: __gen-raise-shadow(3),
  4: __gen-raise-shadow(4),
  5: __gen-raise-shadow(5),
  6: __gen-raise-shadow(6),
  7: __gen-raise-shadow(7),
  8: __gen-raise-shadow(8),
) !default;

@function raise-shadow($level: 1) {
  $value: map-get($map: $raise-shadow-map, $key: $level);
  @if $value {
    @if $vd-modern-css-variables {
      @return var(--raise-#{$level});
    }
    @return $value;
  } @else {
    @error 'raise-shadow #{$level} not found.';
  }
}

$raise-base:    raise-shadow(1) !default;
$raise-hover:   raise-shadow(8) !default;

$raise-shadow-transition: box-shadow 0.32s ease-out 0s !default;

// Gap Border Radius Opacity

$gap-map: (
  xsmall:   4,
  small:    8,
  medium:   16,
  large:    24,
  xlarge:   32,
) !default;

@function gap($key) {
  @return map-get($gap-map, $key);
}

$gap-base: gap('medium') !default;

$gap-icon-multiplier: 0.618 !default; 

// border

$border-base: 1 !default;
$border-color-common: #7f7f7f;

// radius

$radius-base: 2 !default;

// opacity

$opacity-translucent: 0.5 !default;

// Responsive

$type-breakpoint-key: 'xs', 'sm', 'md', 'lg', 'xl';
$type-media-alias: $type-breakpoint-key, 'gtXs', 'ltSm', 'gtSm', 'ltMd', 'gtMd', 'ltLg', 'gtLg', 'ltXl';

$breakpoints: (
  xs: 0,
  sm: 600,
  md: 960,
  lg: 1280,
  xl: 1920,
) !default;

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

// ================================================================
// General

// Button

$button-size-map: (
  xsmall:   24,
  small:    32,
  medium:   40,
  large:    48,
  xlarge:   56,
) !default;

$button-font-size-map: (
  xsmall:   12,
  small:    14,
  medium:   18,
  large:    20,
  xlarge:   24,
) !default;

$button-line-height: 1.44;

$button-min-width-multiple:   2.618 !default;
$button-padding-multiple:     0.618 !default;
$button-gap-icon-text:        $gap-icon-multiplier !default;
$button-group-gap-multiple:   1 / 2 * 0.618;

$button-translucent-hover:    0.12;
$button-translucent-active:   0.16;

$button-transition-duration:  160ms !default;

// ================================================================
// Layout

// z-index

$z-index-header:    1200 !default;
$z-index-nav:       800 !default;

$z-index-dialog:    1400 !default;

$z-index-float:     1600 !default;
$z-index-popover:   $z-index-float;

$type-direction: row, row-reverse, column, column-reverse;

$type-flex-direction: row, row-reverse, column, column-reverse;
$type-flex-wrap: nowrap, wrap, wrap-reverse;
$type-flex-align: start, center, end, space-between, space-around, space-evenly, stretch;
$type-flex-justify: start, center, end, space-between, space-around, space-evenly;
$type-flex-preset: initial, auto, none, expand;

$type-dock-position: 'center', 'top', 'bottom', 'left', 'right';
$type-float-position: 'top', 'bottom', 'top-or-bottom', 'left', 'right', 'left-or-right';

// Slide: Carousel, Gallery

$slide-transition-duration: 320ms;

$carousel-switch-button-size: 48;

// Card

$card-radius: $radius-base !default;
$card-font-size: font-size('medium') !default;
$card-line-height: $line-height-base !default;
$card-header-font-size: font-size('large') !default;
$card-header-height: 48 !default;

// Flow

$swimlane-padding: 54 !default;
$container-padding: $gap-base !default;

$container-width-map: (
  xs: 100%,
  sm: 100%,
  md: 960px,
  lg: 1200px,
  xl: 1200px,
) !default;

$container-width-transition: width ease-in-out 160ms;

// Tabs

$tabs-header-size-map: (
  xsmall:   24,
  small:    32,
  medium:   40,
  large:    48,
  xlarge:   56,
) !default;

$tabs-header-font-size-map: (
  xsmall:   12,
  small:    14,
  medium:   16,
  large:    20,
  xlarge:   24,
) !default;

// ================================================================
// Effect

// Acrylic

$acrylic-blur-amount: 12 !default;

$acrylic-brightness-map: (
  lite: 110%,
  dark: 90%,
) !default;

$acrylic-cover-tone-opacity:    0.1 !default;
$acrylic-cover-theme-opacity:   0.3 !default;

// ================================================================
// Form

$form-font-size: 14 !default;

$form-row-height: 32 !default;

$form-component-height: 24 !default;

$form-symbol-size: $form-font-size !default;
$form-symbol-transition-duration: 240ms !default;

// ================================================================
// Modern

@if $vd-modern-css-variables {
  #{$vd-modern-css-selector} {
    // theme
    @each $theme, $color-map in $color-map-theme {
      @each $role-level, $value in $color-map {
        --theme-#{$theme}-#{$role-level}: #{$value};
      }
    }
    // tone
    @each $tone, $color-map in $color-map-tone {
      @each $level, $value in $color-map {
        --tone-#{$tone}-#{$level}: #{$value};
      }
    }
    // grade
    @each $grade, $value in $color-map-grade {
      --grade-#{$grade}: #{$value};
    }
    // raise shadow
    @each $level, $value in $raise-shadow-map {
      --raise-#{$level}: #{$value};
    }
  }
}
