/**
 * Component: DemoBox
 */
@include comp('demo-box') {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: rem(120);

  @include elem('content', 'label') {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  @include elem('content') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include elem('label') {
    position: relative;
    width: 100%;
    height: 100%;

    transition: opacity ease-in-out 160ms;
  }

  @include when('bordered') {
    @include elem('label') {
      border: rem($border-base) solid;
    }
  }

  @include when('bold') {
    @include elem('label') {
      font-size: rem(24);
    }
  }

  @each $num,
    $value
      in (
        0: #ff6666,
        1: #ffcc66,
        2: #ccff66,
        3: #66ff66,
        4: #66ffcc,
        5: #66ccff,
        6: #6666ff,
        7: #cc66ff,
        8: #ff66cc
      )
  {
    @include prop(
      (
        'rainbow': $num,
      )
    ) {
      color: $value;
    }
  }
}
