/**
 * Component: Example
 */
@include comp('example') {
  margin: rem($gap-base) 0;

  @include elem('preview-header') {
    margin-right: auto;
  }

  @include elem('header-icon') {
    margin-right: rem(gap('xsmall'));
    font-size: rem(16);
  }

  @include elem('toggle-fullscreen') {
    padding: 0 rem($gap-base);
    margin: 0;
    border: none;

    color: inherit;
    background-color: transparent;
  }

  @include when('expanded') {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
