/**
 * Component: Swimlane
 */
@include comp('swimlane') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  padding: rem($swimlane-padding) 0;

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      @include when('odd-even') {
        &:nth-child(2n) {
          background-color: theme($theme, 'bg', 'low');
        }
        &:nth-child(2n + 1) {
          background-color: theme($theme, 'bg', 'lower');
        }
      }
      @include when('odd') {
        background-color: theme($theme, 'bg', 'low');
      }
      @include when('even') {
        background-color: theme($theme, 'bg', 'lower');
      }
    }
  }
}

/**
 * Component: Container
 */
@include comp('container') {
  position: relative;
  margin: 0 auto;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  @each $screen, $value in $container-width-map {
    @include media-only($screen) {
      width: $value;
    }
  }

  @include when('gap') {
    padding: 0 rem($container-padding);
  }

  transition: $container-width-transition;
}
