.#{$void}-article {
  font-size: $article-font-size;
  line-height: $article-line-height;
  width: 100%;

  p {
    font-size: $article-paragraph-font-size;
    margin: $article-paragraph-margin;
  }

  blockquote {
    padding: $article-blockquote-padding;
    border-left: $border-base;
    border-left-width: $article-blockquote-border-left;
    margin: $article-blockquote-margin;

    p {
      margin: $article-blockquote-paragraph-margin;
    }
  }

  a {
    color: $color-primary;
    text-decoration: none;
  }
  a:visited,
  a:hover,
  a:active,
  a:focus,
  a:hover {
    color: $color-primary-lighten;
  }

  img {
    max-width: 100%;
  }

  li {
    margin: $article-listitem-margin;
  }

  ul,
  ol {
    padding-left: $article-list-padding-left;
    margin: $article-list-margin;
  }

  sub,
  sup {
    font-size: 80%;
  }

  pre,
  code {
    font-family: $font-family-code;
    font-size: 0.9em;
  }

  code {
    padding: 0.02rem 0.04rem;
  }

  pre {
    display: block;
    code {
      font-size: 1em;
      display: block;
      padding: $gutter-small $gutter-xsmall;
      overflow-x: auto;
    }
  }

  hr {
    border-width: 0;
    border-style: solid;
    border-bottom-width: 1px;
    margin: 0.32rem 0;
  }

  table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
  }

  table tr {
    border-top: $border-base;
    margin: 0;
    padding: 0;
  }

  table tr th,
  table tr td {
    border: $border-base;
  }

  table tr th {
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr td {
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr th :first-child,
  table tr td :first-child {
    margin-top: 0;
  }

  table tr th :last-child,
  table tr td :last-child {
    margin-bottom: 0;
  }

  // tr:hover {
  //   background-color: $lite-background-hover;
  // }

  &.genre {
    @each $genre in $ss-genres {
      &-#{$genre} {
        color: map-get($map: $genre-foreground-colors, $key: $genre);

        b,
        strong {
          color: map-get($map: $genre-foreground-colors, $key: #{$genre}-emphasize);
        }

        hr {
          border-color: map-get($map: $genre-background-colors, $key: #{$genre}-border);
        }

        blockquote {
          border-color: map-get($map: $genre-background-colors, $key: #{$genre}-border);
          background-color: map-get(
            $map: $genre-background-colors,
            $key: #{$genre}-higher
          );
        }

        table {
          background-color: map-get($map: $genre-background-colors, $key: #{$genre}-high);
        }
        table thead {
          background-color: map-get(
            $map: $genre-background-colors,
            $key: #{$genre}-higher
          );
        }
        table tr th,
        table tr td {
          border-color: map-get($map: $genre-background-colors, $key: #{$genre}-border);
        }

        code {
          background-color: map-get(
            $map: $genre-background-colors,
            $key: #{$genre}-higher
          );
        }
      }
    }
  }
}
