.#{$void}-main {
  min-height: 100vh;
  &.theme {
    @each $theme in $ss-themes {
      &-#{$theme} {
        color: map-get($map: $theme-foreground-colors, $key: $theme);
        background-color: map-get($map: $theme-background-colors, $key: $theme);
      }
    }
  }
}
