/**
 * Control: Carousel
 */
@include comp('carousel') {
  position: relative;
  width: 100%;

  @include elem('inner') {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
  }

  @include elem('pane-wrapper') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  @include elem('pane') {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-width: 100%;

    flex: 0 1 100%;

    display: none;
    @include when('selected') {
      display: initial;
    }
  }

  @include elem('control-previous', 'control-next') {
    opacity: 0;

    transition: transition();

    font-size: map-get($map: $button-size-map-square, $key: 'xlarge') / 3;
    width: map-get($map: $button-size-map-square, $key: 'xlarge') / 2;
    height: map-get($map: $button-size-map-square, $key: 'xlarge');

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 0;
    border: none;
  }
  @include elem('control-previous') {
    left: 0;
  }
  @include elem('control-next') {
    right: 0;
  }
  &:hover {
    @include elem('control-previous', 'control-next') {
      opacity: 0.7;
    }
  }

  @include elem('indicator-wrapper') {
    position: relative;
    padding: $gutter-base 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  @include elem('indicator') {
    position: relative;
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    border: none;
    border-radius: $carousel-indicator-height / 2;
    padding: 0;
    margin: 0 ($gutter-base / 2);

    transition: transition();
    transition-property: background-color;
  }

  @each $theme in $enum-theme {
    @include prop(
      (
        theme: $theme,
      )
    ) {
      @include elem('control-previous', 'control-next') {
        color: theme('#{$theme}-fg-normal');
        background-color: theme('#{$theme}-bg-normal');
      }
      @include elem('indicator') {
        background-color: theme('#{$theme}-fg-sub');
      }
    }
  }

  @include elem('indicator') {
    @include when('selected') {
      background-color: tone('primary-standard');
    }
  }
}
