table.vd-data-table {
  $table-head-padding: 0.1rem 0.16rem;
  $table-head-height: 0.32rem;
  $table-aligns: left, center, right;

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      background-color: map-get($map: $theme-background-colors, $key: $theme);

      .table-head {
        background-color: map-get($map: $theme-background-colors, $key: #{$theme}-hover);
        color: map-get($map: $theme-foreground-colors, $key: #{$theme}-secondary);

        .fa {
          &.active {
            color: map-get($map: $theme-foreground-colors, $key: $theme);
          }
        }
      }

      .table-body {
        &.striped {
          .body-tr:nth-child(even) {
            background-color: map-get(
              $map: $theme-background-colors,
              $key: #{$theme}-high
            );
          }
        }
      }
      .body-tr {
        border-bottom: 1px solid
          map-get($map: $theme-background-colors, $key: #{$theme}-hover);
      }
    }
  }
  /* ---- init table style ---- */
  border-collapse: collapse;
  // table-layout: fixed;
  width: 100%; // 待定

  /* ----- 表格头部 ------ */

  thead.table-head {
    vertical-align: middle;
    font-size: 0.12rem;
    font-weight: bold;

    tr {
      height: 0.32rem;
    }

    .head-index {
      width: 0.4rem;
      text-align: center;
    }

    .head-item {
      align-items: center;
      cursor: pointer;

      @each $align in $table-aligns {
        &.align-#{$align} {
          text-align: $align;
        }
      }
    }
    .item-text {
      display: inline-flex;
    }

    /* ---- 箭头 ---- */
    .arrow-control {
      margin-left: 0.04rem;
      display: inline-flex;
      flex-direction: column;

      .fa {
        height: 0rem;
      }
    }
  }

  /* ----- 表格主体 ---- */
  tbody.table-body {
    font-size: 0.14rem;
    vertical-align: middle;

    tr.body-tr {
      height: 0.4rem;

      &.img-no-padding-left {
        td:first-child {
          padding-left: 0;
        }
      }
    }

    .body-index {
      text-align: center;
    }

    td.td-item {
      height: 0.4rem;
      @each $align in $table-aligns {
        &.align-#{$align} {
          text-align: $align;
        }
      }
    }

    .item-content {
      // text-overflow: ellipsis;
    }
  }

  .cell {
    padding: 0 0.12rem;
  }
}
