$menu-font-size: 1.6rem;
$menu-padding: 0.4rem;

$menu-icon-size: 2.4rem;
$menu-item-height: 4rem;
$menu-item-padding: 1.6rem;

@include define-atom('menu-reset') {
  padding: 0;
  margin: 0;
}

@include define-atom('menu-part-v') {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
}

@include define-atom('menu-item-icon') {
  width: $menu-icon-size;
  height: $menu-icon-size;
  line-height: 1;
  display: flex;
  flex: none;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@include define-atom('menu-item-inner-v') {
  width: 100%;
  height: $menu-item-height;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-content: center;
  align-items: center;
  padding: 0 $menu-item-padding;
}

@include define-atom('menu-item-label-v') {
  flex: 1;
}

@include comp('menu') {
  @include extend-atom('menu-reset');
  @include extend-atom('menu-part-v');

  height: 100%;

  font-size: $menu-font-size;

  padding: $menu-padding 0;

  @include prop((direction: 'vertical')) {
    @include elem('start') {
      @include extend-atom('menu-reset');
      @include extend-atom('menu-part-v');
    }
    @include elem('center') {
      @include extend-atom('menu-reset');
      @include extend-atom('menu-part-v');
    }
    @include elem('end') {
      @include extend-atom('menu-reset');
      @include extend-atom('menu-part-v');
      margin-top: auto;
    }
  }
}
