/**
 * Control: SubMenu
 */
@include comp('sub-menu') {
  @include extend-atom('menu-reset');
  @include elem('item-wrapper') {
    @include extend-atom('menu-reset');
  }

  @include extend-atom('menu-part-v');

  @include elem('header') {
    cursor: pointer;
  }

  @include elem('indicator') {
    transform-style: preserve-3d;
  }

  @include extend-atom('menu-item-transition');

  // LAYOUT

  @include elem('icon-container') {
    @include extend-atom('menu-item-icon');
  }

  @include elem('item-wrapper') {
    @include extend-atom('menu-part-v');
    overflow: hidden;

    height: 0;
    opacity: 0;

    transition: opacity $menu-anime-timing-function $menu-anime-duration;
    transform: translate3d(0);
  }
  @include when('expanded') {
    @include elem('item-wrapper') {
      opacity: 1;
    }
  }

  // LAYOUT direction vertical

  @include prop((direction: 'vertical')) {
    @include elem('header') {
      @include extend-atom('menu-item-inner-v');
    }

    @include elem('label') {
      @include extend-atom('menu-item-label-v');
    }
  }

  // LAYOUT direction horizontal

  @include prop((direction: 'horizontal')) {
    @include elem('header') {
      @include extend-atom('menu-item-inner-h');
    }

    @include elem('icon-container') {
      display: none;
      @include when('used') {
        display: flex;
      }
    }
    @include elem('indicator') {
      display: flex;
    }

    @include elem('item-wrapper') {
      position: absolute;
      z-index: 99;
      top: $menu-item-height + $menu-indicator-width + $menu-padding;
      min-width: $menu-sub-wrapper-min-width;

      padding: $menu-padding 0;

      @include extend-atom('raise', 0);
    }
  }

  // STYLE

  @each $theme in $enum-theme {
    @include prop((direction: 'horizontal', theme: $theme)) {
      @include elem('item-wrapper') {
        background-color: theme('#{$theme}-bg-normal');
      }
    }
  }

  // STYLE skin plain

  @include prop((skin: 'plain')) {
    @include elem('header') {
      &:hover {
        color: tone(primary-standard);
      }
    }
  }

  // STYLE skin fill
  // TODO
}
