.#{$void}-score-selector {
  //common
  $score-font-weight: bold;
  $score-selector-background: #24cf4c;
  $score-selector-shape: 'small', 'medium', 'large';
  $score-border-radius: 1px;
  // small
  $score-small-width: 1.38rem;
  $score-small-height: 0.24rem;
  $small-block-width: 0.08rem;
  $small-block-height: 0.12rem;
  //medium
  $score-medium-width: 2.02rem;
  $score-medium-height: 0.32rem;
  $medium-block-width: 0.12rem;
  $medium-block-height: 0.18rem;
  //large
  $score-large-width: 2.93rem;
  $score-large-height: 0.4rem;
  $large-block-width: 0.18rem;
  $large-block-height: 0.28rem;
  //map
  $score-selector-widths: (
    small:$score-small-width,
    medium:$score-medium-width,
    large:$score-large-width
  );
  $score-selector-heights: (
    small:$score-small-height,
    medium:$score-medium-height,
    large:$score-large-height
  );
  $score-block-widths: (
    small:$small-block-width,
    medium:$medium-block-width,
    large:$large-block-width
  );
  $score-block-heights: (
    small:$small-block-height,
    medium:$medium-block-height,
    large:$large-block-height
  );
  $score-font-color: (
    small:#999,
    medium:#999,
    large:#888
  );
  $score-regular-font-size: (
    small:0.12rem,
    medium:0.18rem,
    large:0.24rem
  );
  $score-font-size: (
    small:0.14rem,
    medium:0.24rem,
    large:0.32rem
  );
  $score-margin-right: (
    small:1px,
    medium:0.02rem,
    large:0.03rem
  );
  $score-border-size: (
    small:1px,
    medium:1px,
    large:2px
  );
  $score-content-widths: (
    small:0.4rem,
    medium:0.64rem,
    large:0.84rem
  );
  //transition
  $transition-duration-base: 0.25s;
  $transition-timing-function-base: ease-in-out;
  $transition-base: all $transition-duration-base $transition-timing-function-base;
  @mixin gen-transition-base($properties) {
    transition-property: $properties;
    transition-duration: $transition-duration-base;
    transition-timing-function: $transition-timing-function-base;
  }
  //score-selector
  display: inline-flex;
  align-items: center;
  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      @each $size, $width in $score-selector-widths {
        &.size-#{$size} {
          width: $width;
          .score-selector-inner {
            width: map-get($map:$score-block-widths, $key:$size);
            height: map-get($map:$score-block-heights, $key:$size);
            border: map-get($map:$score-border-size, $key:$size) solid
              $score-selector-background;
            border-radius: $score-border-radius;
            margin-right: map-get($map:$score-margin-right, $key:$size);
            font-size: map-get($map:$score-regular-font-size, $key:$size);
            @each $level, $color in $score-colors {
              &.level-#{$level} {
                background-color: $color;
                border: map-get($map:$score-border-size, $key:$size) solid $color;
                @include gen-transition-base((background-color,color));
              }
              &.unselected {
                background-color: map-get($map:$theme-background-colors, $key:$theme);
              }
            }
          }
          .score-selector-content {
            width: map-get($map:$score-content-widths, $key:$size);
            text-align: right;
            font-size: map-get($map:$score-regular-font-size, $key:$size);
            color: map-get($map:$score-font-color, $key:$size);
            @each $level, $color in $score-colors {
              .font-#{$level} {
                color: $color;
                font-size: map-get($map:$score-font-size, $key:$size);
              }
            }
          }
        }
      }
    }
  }

  @each $size, $height in $score-selector-heights {
    &.score-selector-#{$size} {
      height: $height;
    }
  }
}
