/**
 * View: App
 */
@include comp('app') {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: rem($nav-bar-height);

  @include elem('wrapper') {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  @include elem('content') {
    flex: 100%;
    position: relative;
    height: 100%;
    padding: 0 rem($gap-base);
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

// transition

.rise-fade-enter-active {
  transition: all 200ms ease-in-out 200ms;
}
.rise-fade-leave-active {
  transition: all 200ms ease-in-out;
}
.rise-fade-enter {
  transform: translateY(rem(16));
  opacity: 0;
}
.rise-fade-leave-to {
  transform: translateY(rem(16));
  opacity: 0;
}
