/**
 * Component: Dropdown
 */
@include comp('dropdown') {
  @include prop(
    (
      'position': 'left',
    )
  ) {
    padding-right: rem(gap('small'));
  }
  @include prop(
    (
      'position': 'right',
    )
  ) {
    padding-left: rem(gap('small'));
  }
  @include prop(
    (
      'position': 'top',
    )
  ) {
    padding-bottom: rem(gap('small'));
  }
  @include prop(
    (
      'position': 'bottom',
    )
  ) {
    padding-top: rem(gap('small'));
  }
}
