/**
 * Component: Popover
 */
@include comp('popover') {
  $arrow-size: $gap-base;
  // $arrow-size: sqrt($gap-base * $gap-base * 2);
  $arrow-size: sqrt($gap-base * $gap-base / 4 * 2);
  $arrow-gap: -($arrow-size / 2);

  @include elem('container', 'arrow') {
    box-shadow: raise-shadow(2);
  }

  @include elem('container', 'header', 'content') {
    position: relative;
  }

  @include elem('container') {
    border-radius: rem($radius-base);
  }

  @include elem('arrow') {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    line-height: rem($arrow-size);
    width: rem($arrow-size);
    height: rem($arrow-size);
    transform: rotate(-45deg);
  }

  @include elem('header') {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    height: rem($card-header-height + $border-base);
    padding: 0 rem($gap-base);
    border-bottom: rem($border-base) solid transparent;
    border-radius: rem($radius-base) 0;

    font-size: rem($card-header-font-size);
    line-height: 1;
    vertical-align: middle;
  }

  @include elem('content') {
    padding: rem($gap-base);
    border-radius: rem($radius-base);

    font-size: rem($card-content-font-size);
    line-height: $line-height-base;
  }

  @include elem-adjacent('header', 'content') {
    border-radius: 0 rem($radius-base);
  }

  @include prop(
    (
      'position': 'left',
    )
  ) {
    @include elem('wrapper') {
      padding-right: rem($gap-base);
    }
    @include elem('arrow') {
      right: rem($arrow-gap);
    }
  }
  @include prop(
    (
      'position': 'right',
    )
  ) {
    @include elem('wrapper') {
      padding-left: rem($gap-base);
    }
    @include elem('arrow') {
      left: rem($arrow-gap);
    }
  }
  @include prop(
    (
      'position': 'top',
    )
  ) {
    @include elem('wrapper') {
      padding-bottom: rem($gap-base);
    }
    @include elem('arrow') {
      bottom: rem($arrow-gap);
    }
  }
  @include prop(
    (
      'position': 'bottom',
    )
  ) {
    @include elem('wrapper') {
      padding-top: rem($gap-base);
    }
    @include elem('arrow') {
      top: rem($arrow-gap);
    }
  }

  @each $position in ('left', 'right') {
    @include prop(
      (
        'position': $position,
        'align': 'start',
      )
    ) {
      @include elem('arrow') {
        top: rem(($card-header-height - $arrow-size) / 2);
      }
    }
    @include prop(
      (
        'position': $position,
        'align': 'end',
      )
    ) {
      @include elem('arrow') {
        bottom: rem(($card-header-height - $arrow-size) / 2);
      }
    }
    @include prop(
      (
        'position': $position,
        'align': 'center',
      )
    ) {
      @include elem('arrow') {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
  }
  @each $position in ('top', 'bottom') {
    @include prop(
      (
        'position': $position,
        'align': 'start',
      )
    ) {
      @include elem('arrow') {
        left: rem(($card-header-height - $arrow-size) / 2);
      }
    }
    @include prop(
      (
        'position': $position,
        'align': 'end',
      )
    ) {
      @include elem('arrow') {
        right: rem(($card-header-height - $arrow-size) / 2);
      }
    }
    @include prop(
      (
        'position': $position,
        'align': 'center',
      )
    ) {
      @include elem('arrow') {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  @include when('bordered') {
    @include elem('container', 'arrow') {
      border: rem($border-base) solid;
    }
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);

      @include elem('header') {
        color: theme($theme, 'fg', 'emphasize');
        border-color: theme($theme, 'bd');
      }

      @include elem('container', 'arrow') {
        border-color: theme($theme, 'bd');
      }

      @include elem('container', 'arrow', 'header', 'content') {
        background-color: theme($theme, 'bg');
      }
    }
  }
}
