/**
 * Component: Gallery
 */
@include comp('gallery') {
  $thumbnail-gap: gap('small');

  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  @include elem('slide', 'preview-wrapper', 'thumbnail-wrapper') {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
  }

  @include elem('slide') {
    flex: 1;
    min-width: 0;
    padding: rem($thumbnail-gap / 2);
    border-top: rem($border-base) solid transparent;
    overflow: hidden;

    @include when('full') {
      flex: 1 1 100%;
      max-width: 100%;
      min-width: 0;
      padding: 0;
    }
  }

  @include elem('preview-wrapper', 'thumbnail-wrapper') {
    transform: translateX(0);
    transition: transform ease $slide-transition-duration;
  }
  @include elem('preview-wrapper') {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 0;
  }
  @include elem('thumbnail-wrapper') {
    flex: 1;
    min-width: 0;
    margin: rem($thumbnail-gap / -2);
  }

  @include elem('preview-item', 'thumbnail-item') {
    position: relative;

    display: block;
    flex: 1 0 100%;
    max-width: 100%;
    min-width: 0;
    margin: 0;
  }
  @include elem('preview-item') {
    max-width: 100%;
  }
  @include elem('thumbnail-item') {
    max-width: 1 / 6 * 100%;
    border: rem($thumbnail-gap / 2) solid transparent;
    filter: brightness(0.8) saturate(0.8);

    @include when('selected') {
      border-color: tone();
      filter: brightness(1) saturate(1);
    }

    transition: all ease $button-transition-duration;
  }

  @include elem('placement') {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 9 / 16 * 100%;
  }

  @include elem('container', 'container') {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
  }

  @include elem('image') {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include elem('thumbnail-slide-button') {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 0 rem($thumbnail-gap / 2);
    margin: 0;
    border: none;

    font-size: font-size('xsmall');

    transition: background-color ease-in-out $button-transition-duration;
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      background-color: theme($theme, 'bg');

      @include elem('preview-wrapper') {
        background-color: theme($theme, 'bg', 'low');
      }

      @include elem('thumbnail-slide') {
        border-color: theme($theme, 'bd');
      }

      @include elem('thumbnail-slide-button') {
        color: theme($theme);
        background-color: theme($theme, 'bg');
        &:hover {
          background-color: theme($theme, 'bg', 'higher');
        }
        &:active {
          background-color: theme($theme, 'bg', 'lower');
        }
      }
    }
  }
}
