@include define-atom('list-base') {
  position: relative;
  padding: 0;
  margin: 0;
}

/**
 * Control: List
 */
@include comp('list') {
  @include extend-atom('list-base');

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  padding: ($gutter-base / 2) 0;

  @include elem('item') {
    @include extend-atom('list-base');

    flex: 0 1 100%;

    transition: transition(0.1s);
    transition-property: all, background-color;

    padding: 0 $gutter-base;
  }

  @include elem('item-content') {
    @include extend-atom('list-base');

    padding: ($gutter-base / 2) 0;
  }

  @include when('show-separator') {
    padding: 0;
    @include elem('item-content') {
      padding: $gutter-base 0;
    }
    @include elem-adjacent('item') {
      margin-top: -$border-width-base;

      @include elem('item-content') {
        border-top: $border-initial;
      }
    }
  }

  @each $theme in $enum-theme {
    @include prop(
      (
        theme: $theme,
      )
    ) {
      background-color: theme('#{$theme}-bg-normal');
      @include elem('item') {
        &:hover {
          background-color: theme('#{$theme}-bg-hover');
        }
      }
      @include when('show-separator') {
        @include elem-adjacent('item') {
          @include elem('item-content') {
            border-top-color: theme('#{$theme}-bd-normal');
          }
        }
      }
    }
  }
}
