.#{$void}-avatar {
  $avatar-avatar-top-width: 1.2rem;
  $avatar-avatar-top-margin: 0 0.35rem 0.08rem;
  $avatar-item-padding-top: 0.24rem;
  $avatar-item-bottom-line-height: 0.19rem;
  $avatar-item-bottom-font-size: 0.14rem;

  $avatar-size-side: (
    'small':0.24rem,
    'medium':0.32rem,
    'large':0.8rem
  );
  $avatar-border: (
    'small':1px,
    'medium':1px,
    'large':0.04rem
  );
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  // border-radius: 50%;
  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      @each $size, $side in $avatar-size-side {
        &.size-#{$size} {
          width: $side;
          height: $side;
          border: $border-base;
          border-radius: 50%;
          line-height: $avatar-avatar-top-width;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          &.bordered {
            border: map-get($map:$avatar-border, $key:$size) solid
              map-get($map:$theme-foreground-colors, $key:$theme);
          }
        }
      }
    }
  }

  margin: 0 0.24rem 0.24rem 0;
}
