.#{$void}-data-card {
  $data-card-font-size: $font-size-base;
  $data-card-icon-font-size: 0.28rem;
  $data-card-body-margin-left: 0.12rem;
  $data-card-main-data-font-size: 0.2rem;
  $data-card-data-sup-margin-left: 0.16rem;

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      background-color: map-get($map: $theme-background-colors, $key: $theme);
      color: map-get($map: $theme-foreground-colors, $key: #{$theme}-secondary);

      .data-main {
        color: map-get($map: $theme-foreground-colors, $key: $theme);
      }
    }
  }

  @include flex-inline(row, flex-start, flex-start);
  font-size: $data-card-font-size;

  .card-icon {
    align-self: stretch;
    font-size: $data-card-icon-font-size;

    @each $tone in $ss-tones {
      &.tone-#{$tone} {
        color: map-get($map:$tone-colors, $key: $tone);
      }
    }

    .fa {
      display: flex;
    }
  }

  .card-body {
    margin-left: $data-card-body-margin-left;
  }

  &-item {
    .item-label {
      font-weight: bold;
    }

    .item-data {
      @include flex-inline(row, flex-start, flex-end);

      .data-main {
        font-size: $data-card-main-data-font-size;
      }

      .data-sup {
        margin-left: $data-card-data-sup-margin-left;
      }
    }

    & + & {
      margin-top: 0.1rem;
    }
  }
}
