/**
 * Component: Card
 */
@include comp('card') {
  position: relative;
  flex: 1;

  font-size: rem($card-font-size);
  line-height: $card-line-hight;

  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    display: block;
  }

  & > img,
  & > video {
    position: relative;
    width: 100%;
    height: auto;
  }

  @include elem('header', 'footer', 'content', 'title', 'sub-content', 'divider') {
    position: relative;

    line-height: inherit;
  }

  @include elem('header', 'footer', 'content') {
    display: block;
    max-width: 100%;
    min-height: rem($card-header-height + $border-base);
    padding: rem($gap-base);
    margin: 0;
  }

  @include elem('header', 'footer') {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }

  @include elem('header') {
    border-bottom: rem($border-base) solid transparent;
  }
  @include elem('footer') {
    border-top: rem($border-base) solid transparent;
  }

  @include elem('title', 'summary') {
    padding: 0;
    margin: 0;
    font-weight: normal;

    &:not(:last-child) {
      margin-bottom: rem($gap-base / 2);
    }
  }

  @include elem('title') {
    font-size: rem($card-header-font-size);
  }

  @include elem('summary') {
    font-size: inherit;
  }

  @include elem('divider') {
    margin: rem($gap-base / 2) 0;
    border-bottom: rem($border-base) solid transparent;
  }

  // status & properties

  @include when('bordered') {
    border: rem($border-base) solid;
  }

  @include when('raise') {
    box-shadow: $raise-base;
    &:hover {
      box-shadow: $raise-hover;
    }

    transition: $raise-shadow-transition;
  }

  @include when('transparent') {
    &::before {
      opacity: 0;
    }
  }
  @include when('half-transparent') {
    &::before {
      opacity: $opacity-half;
    }
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      border-color: theme($theme, 'bd');

      &::before {
        background-color: theme($theme, 'bg');
      }
      @include when('half-transparent') {
        &::before {
          background-color: theme($theme, 'bg', 'lower');
        }
      }

      @include elem('header', 'title') {
        color: theme($theme, 'fg', 'emphasize');
      }

      @include elem('summary') {
        color: theme($theme, 'fg', 'sub');
      }

      @include elem('header', 'divider') {
        border-color: theme($theme, 'bd');
      }
    }
  }
}
