/**
 * Component: Card
 */
@include comp('card') {
  position: relative;
  flex: 1;

  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ' ';
    display: block;
  }

  & > img,
  & > video {
    position: relative;
    width: 100%;
    height: auto;
  }

  @include elem('header', 'content', 'separator') {
    position: relative;
  }

  @include elem('header') {
    max-width: 100%;
    height: rem($card-header-height + $border-base);
    border-bottom: rem($border-base) solid transparent;
    padding: 0 rem($gap-base);
    margin: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    font-size: rem($card-header-font-size);
    font-weight: normal;
    line-height: 1.28;
  }

  @include elem('content') {
    display: block;
    margin: 0;
    padding: rem($gap-base);
  }

  @include elem('separator') {
    margin: rem($gap-base / 2) 0;
    border-bottom: rem($border-base) solid transparent;
  }

  @include when('bordered') {
    border: rem($border-base) solid;
  }

  @include when('raise') {
    box-shadow: $raise-base;
    &:hover {
      box-shadow: $raise-hover;
    }

    transition: $raise-shadow-transition;
  }

  @include when('transparent') {
    &::before {
      opacity: 0;
    }
  }
  @include when('half-transparent') {
    &::before {
      opacity: $opacity-half;
    }
  }

  @each $theme in $type-theme {
    @include prop(
      (
        'theme': $theme,
      )
    ) {
      color: theme($theme);
      border-color: theme($theme, 'bd');

      &::before {
        background-color: theme($theme, 'bg');
      }
      @include when('half-transparent') {
        &::before {
          background-color: theme($theme, 'bg', 'lower');
        }
      }

      @include elem('header') {
        color: theme($theme, 'fg', 'emphasize');
      }

      @include elem('header', 'separator') {
        border-color: theme($theme, 'bd');
      }
    }
  }
}
