/**
 * Control: Tabs
 */
@include comp('tabs') {
  position: relative;
  width: 100%;

  @include elem('body') {
    padding: $tab-padding;

    font-size: $font-size-base;
    line-height: $line-height-normal;
  }

  @include elem('pane-wrapper') {
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }

  @include prop((skin: 'plain')) {
    @include elem('header') {
      // padding: 0 $tab-padding;
    }
  }

  @each $theme in $enum-theme {
    @include prop((theme: $theme)) {
      color: theme('#{$theme}-fg-normal');
      background-color: theme('#{$theme}-bg-normal');
    }
  }
}
