/*! void-ui | MIT License | https://github.com/HuijiFE/void-ui */

@import '~cep.scss';

// configs
$vd-modern-css-variables: true !default;
$vd-modern-css-selector: ':root' !default;
$vd-reset: true !default;

@import './components/base/index';

$namespace: 'vd';
@import './components/all';
