// font-awesome
@import '~@fortawesome/fontawesome-svg-core/styles.css';

// custom variables
$root-font-size: 100;

@import '~@void/ui/lib/void-ui.scss';

@import '~@docs/variables.scss';

// Components
$namespace: 'c';
@import '@docs/components/all.scss';

// Examples
$namespace: 'e';
@import '@docs/examples/all.scss';

// Views
$namespace: 'v';
@import '@docs/views/all.scss';

/**
 * View: App
 */
@include comp('app') {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: rem($nav-bar-height);

  @include elem('wrapper') {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  @include elem('content') {
    flex: 100%;
    position: relative;
    height: 100%;
    padding: 0 rem($gap-base);
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
