@import '../src/index';

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.main-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  flex: 1;
  align-content: stretch;
  align-items: stretch;
  background: $color-primary;
  height: 64px;

  .nav-separator {
    display: flex;
    flex: 1;
  }

  .nav-item {
    display: flex;
    flex: 0;
    align-content: center;
    align-items: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.9;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: white;
    background-color: transparent;

    transition: 0.2s ease-in-out;
    transition-property: opacity, background-color;

    &.first {
      font-size: 24px;
      opacity: 1;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      opacity: 1;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.docs-main-wrapper {
  padding-top: 64px;
}

.documentation {
  article {
    h1 {
      margin-top: 0;
    }

    table tr td:first-child {
      white-space: nowrap;
    }
  }
}

.code-board {
  margin: 0.16rem 0;
  pre {
    margin: 0;
  }
  .hljs {
    padding: $gutter-medium;
  }
}

.example-board {
  border-radius: $border-radius-base;
  border: $border-base;
  margin-top: 0.16rem;
  margin-bottom: 0.32rem;

  .example {
    padding: $gutter-medium;
  }
  .code-board {
    border: $border-base;
    margin: 0;
  }
  .show-button {
    width: 100%;
    height: 0.4rem;
    color: $color-primary;
    border-top: $border-base;
  }

  @each $genre in $ss-genres {
    &.genre-#{$genre} {
      &,
      .code-board,
      .show-button {
        border-color: map-get($map: $genre-background-colors, $key: #{$genre}-border);
      }
      .show-button {
        background-color: map-get($map: $genre-background-colors, $key: #{$genre}-high);
        &:hover {
          background-color: map-get(
            $map: $genre-background-colors,
            $key: #{$genre}-hover
          );
        }
      }
    }
  }
}

.color-cube {
  @include flex(row,flex-start,center,nowrap);
  display: inline-flex;
  height: 16px;
  .cube {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
  }
  .content {
    font-size: 14px;
    font-family: 'Iosevka';
    height: 16px;
    line-height: 16px;
  }
}

/*----------  Layout  ----------*/

.layout-content {
  @include flex(row,center,center,wrap);
  color: $color-primary;
  font-weight: bold;
  width: 100%;
  min-height: 0.32rem;
  height: 100%;
  padding: 0.08rem;
  border: 1px solid $color-primary;
  border-radius: $border-radius-base;
}

.example-section {
  .vd-section {
    text-align: center;
    color: #fff;
  }
}

.example-nav {
  @include flex(row, center, center);
  height: 32px;
  color: #fff;
  background-color: $tone-primary;
}

.example-footer {
  @include flex(row, center, center);
  height: 64px;
  color: #fff;
  background-color: #333;
}

.example-container {
  @include flex(row, center, center);
  width: 75%;
  height: 100%;
  border: 1px solid #fff;
  margin: 0 auto;
}

/*----------  Tabs  ----------*/

.tabs-content {
  @include flex(row, center, center);
  width: 100%;
  height: 256px;
}

/*----------  highlight.js start  ----------*/

@font-face {
  font-family: 'Iosevka';
  src: url('assets/font/iosevka-regular.ttf') format('truetype');
}

.#{$void}-article {
  code {
    font-family: 'Iosevka';
  }
  &.genre-lite {
    /*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
    .hljs {
      display: block;
      overflow-x: auto;
      color: $genre-lite-foreground;
      background: $genre-lite-background-high;
    }

    .hljs-comment,
    .hljs-quote,
    .hljs-variable {
      color: #008000;
    }

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-built_in,
    .hljs-name,
    .hljs-tag {
      color: #00f;
    }

    .hljs-string,
    .hljs-title,
    .hljs-section,
    .hljs-attribute,
    .hljs-literal,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-addition {
      color: #a31515;
    }

    .hljs-deletion,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-meta {
      color: #2b91af;
    }

    .hljs-doctag {
      color: #808080;
    }

    .hljs-attr {
      color: #f00;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link {
      color: #00b0e8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }
  }

  &.genre-dark {
    /*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

    .hljs {
      display: block;
      overflow-x: auto;
      color: $genre-dark-foreground;
      background: $genre-dark-background-high;
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-symbol,
    .hljs-name {
      color: #569cd6;
    }
    .hljs-link {
      color: #569cd6;
      text-decoration: underline;
    }

    .hljs-built_in,
    .hljs-type {
      color: #4ec9b0;
    }

    .hljs-number,
    .hljs-class {
      color: #b8d7a3;
    }

    .hljs-string,
    .hljs-meta-string {
      color: #d69d85;
    }

    .hljs-regexp,
    .hljs-template-tag {
      color: #9a5334;
    }

    .hljs-subst,
    .hljs-function,
    .hljs-title,
    .hljs-params,
    .hljs-formula {
      color: #dcdcdc;
    }

    .hljs-comment,
    .hljs-quote {
      color: #57a64a;
      font-style: italic;
    }

    .hljs-doctag {
      color: #608b4e;
    }

    .hljs-meta,
    .hljs-meta-keyword,
    .hljs-tag {
      color: #9b9b9b;
    }

    .hljs-variable,
    .hljs-template-variable {
      color: #bd63c5;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-builtin-name {
      color: #9cdcfe;
    }

    .hljs-section {
      color: gold;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    /*.hljs-code {
  font-family:'Monospace';
}*/

    .hljs-bullet,
    .hljs-selector-tag,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
      color: #d7ba7d;
    }

    .hljs-addition {
      background-color: #144212;
      display: inline-block;
      width: 100%;
    }

    .hljs-deletion {
      background-color: #600;
      display: inline-block;
      width: 100%;
    }
  }
}

/*----------  highlight.js end  ----------*/

@font-face {
  font-family: 'Aldrich';
  src: url('assets/font/Aldrich-Regular.ttf') format('truetype');
}

.vd-score {
  font-family: 'Aldrich', $font-family-base;
}
