@import '../src/index';
@import 'highlight.js/styles/docco.css';

article {
  h1 {
    margin-top: 0;
  }

  table tr td:first-child {
    white-space: nowrap;
  }
}

.main-nav {
  display: flex;
  flex: 1;
  align-content: stretch;
  align-items: stretch;
  background: $color-primary;
  height: 64px;

  .nav-separator {
    display: flex;
    flex: 1;
  }

  .nav-item {
    display: flex;
    flex: 0;
    align-content: center;
    align-items: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.9;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: white;

    transition: 0.2s ease-in-out;
    transition-property: opacity, background-color;

    &.first {
      font-size: 24px;
      opacity: 1;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      opacity: 1;
    }
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.code-board {
  margin: 0.16rem 0;
  pre {
    margin: 0;
  }
  .hljs {
    padding: $gutter-medium;
  }
}

.example-board {
  border-radius: $border-radius-base;
  border: 1px solid $lite-border;
  margin-top: 0.16rem;
  margin-bottom: 0.32rem;

  .example {
    padding: $gutter-medium;
  }
  .code-board {
    border-top: 1px solid $lite-border;
    margin: 0;
  }
  .show-button {
    width: 100%;
    height: 0.4rem;
    color: $color-primary;
    background-color: rgba($lite-border, 0.2);
  }
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.layout-content {
  @include flex(row,center,center,wrap);
  opacity: 0.5;
  color: $color-primary;
  background-color: rgba($color-primary, 0.05);
  font-weight: bold;
  width: 100%;
  min-height: 0.32rem;
  height: 100%;
  padding: 0.08rem;
  border: 1px solid $color-primary;
  border-radius: $border-radius-base;

  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}

.vd-wrapper {
  min-height: 100vh;
}

@font-face {
  font-family: 'Aldrich';
  src: url('assets/font/Aldrich-Regular.ttf') format('truetype');
}

.vd-score {
  font-family: 'Aldrich', $font-family-base;
}
