.#{$void}-definition {
  $definition-font-size: 0.14rem;
  $definition-line-height: 0.22rem;

  $definition-item-margin: 0.16rem;
  $definition-label-width: 0.56rem;

  width: 100%;
  font-size: $definition-font-size;

  .definition-item {
    display: flex;
    .definition-label {
      width: $definition-label-width;
      font-weight: bold;
      line-height: $definition-line-height;
      margin-right: $definition-item-margin;
    }
  }

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      .definition-item {
        display: flex;
        .definition-label {
          color: map-get($map:$theme-foreground-colors, $key:#{$theme}-secondary);
        }
        .definition-content {
          color: map-get($map:$theme-foreground-colors, $key:$theme);
        }
      }
    }
  }
}
