.#{$void}-definition {
  $definition-font-size: 0.14rem;
  $definition-line-height: 0.22rem;

  $definition-item-margin: 0.16rem;
  $definition-label-width: 0.56rem;

  width: 100%;
  font-size: $definition-font-size;

  & &_item {
    display: flex;
  }

  & &_label {
    width: $definition-label-width;
    font-weight: bold;
    line-height: $definition-line-height;
    margin-right: $definition-item-margin;
  }

  @each $theme in $ss-themes {
    &.theme-#{$theme} {
      .#{$void}-definition_item {
        display: flex;
        .#{$void}-definition_label {
          color: map-get($map: $theme-foreground-colors, $key: #{$theme}-secondary);
        }
        .#{$void}-definition_content {
          color: map-get($map: $theme-foreground-colors, $key: $theme);
        }
      }
    }
  }
}
