.#{$void}-link-list {
  $link-width: 1.4rem;
  $link-font-size: 0.16rem;
  $link-color-hover: #00bedb;
  $link-font-family: 'Microsoft YaHei';
  $link-label-margin-left: 0.12rem;
  $link-icon-font-size: 0.24rem;

  $link-color: (
    lite: #888888,
    dark: #aaaaaa
  );

  display: flex;
  flex-wrap: wrap;
  .link-item {
    flex: none;
    @include flex-inline(row, flex-start, center, nowrap);
    width: $link-width;
    font-size: $link-font-size;
    font-family: $link-font-family;
    font-weight: bold;
    transition: color ease 0.3s;

    @each $theme in $ss-themes {
      &.theme-#{$theme} {
        color: map-get($map: $link-color, $key: $theme);
      }
    }

    &:hover {
      cursor: pointer;
      color: $link-color-hover;
    }

    .link-label {
      color: inherit;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .link-icon {
      color: inherit;
      font-size: $link-icon-font-size;
    }

    .link-label {
      margin-left: $link-label-margin-left;
    }
  }
}
