.#{$void}-toggle {
  $ss-shapes-toggle: 'circle', 'rect';

  $toggle-outer-width: 0.32rem;
  $toggle-outer-height: 0.2rem;

  $toggle-middle-padding: 0.02rem;

  $toggle-rect-middle-width: 0.28rem;
  $toggle-rect-middle-height: 0.14rem;
  $toggle-rect-inner-width: 0.14rem;
  $toggle-rect-inner-height: 0.1rem;

  $toggle-circle-middle-width: 0.32rem;
  $toggle-circle-middle-height: 0.16rem;
  $toggle-circle-inner-size: 0.12rem;

  $gutter-content: 0.04rem;

  @include flex(row, flex-start, center);
  display: inline-flex;
  position: relative;
  font-size: $font-size-medium;
  user-select: none;
  cursor: pointer;

  .toggle-input {
    display: none;
  }

  .toggle-content {
    margin-left: $gutter-content;
  }

  .toggle-outer {
    @include flex(row, center, center);
    width: $toggle-outer-width;
    height: $toggle-outer-height;
  }

  .toggle-middle,
  .toggle-inner {
    transition: 0.2s ease-in-out;
  }

  .toggle-middle {
    @include flex(row, flex-start, center);
    background-color: $tone-primary;
    position: relative;
    transition-property: background-color;
  }

  .toggle-inner {
    @include flex(row, flex-start, center);
    position: absolute;
    left: $toggle-middle-padding;
    transition-property: left;
  }

  &.shape {
    // shape-rect
    &-rect {
      .toggle-middle {
        width: $toggle-rect-middle-width;
        height: $toggle-rect-middle-height;
        border-radius: $border-radius-base;
      }
      .toggle-inner {
        width: $toggle-rect-inner-width;
        height: $toggle-rect-inner-height;
        border-radius: $border-radius-base;
      }
      &.onned {
        .toggle-inner {
          left: (
            $toggle-rect-middle-width - $toggle-rect-inner-width - $toggle-middle-padding
          );
        }
      }
    }
    // shape-circle
    &-circle {
      .toggle-middle {
        width: $toggle-circle-middle-width;
        height: $toggle-circle-middle-height;
        border-radius: ($toggle-circle-middle-height / 2);
      }
      .toggle-inner {
        width: $toggle-circle-inner-size;
        height: $toggle-circle-inner-size;
        border-radius: 50%;
      }
      &.onned {
        .toggle-inner {
          left: (
            $toggle-circle-middle-width - $toggle-circle-inner-size -
              $toggle-middle-padding
          );
        }
      }
    }
  }
  &.genre {
    @each $genre in $ss-genres {
      &-#{$genre} {
        color: map-get($map: $genre-foreground-colors, $key: $genre);
        .toggle-middle {
          background-color: map-get(
            $map: $genre-foreground-colors,
            $key: #{$genre}-disabled
          );
        }
        .toggle-inner {
          @if $genre == 'lite' {
            background-color: map-get($map: $genre-background-colors, $key: $genre);
          } @else {
            background-color: map-get(
              $map: $genre-background-colors,
              $key: #{$genre}-higher
            );
          }
        }
        &.onned {
          .toggle-middle {
            background-color: $tone-primary;
          }
        }
        &.disabled,
        &[disabled] {
          color: map-get($map: $genre-foreground-colors, $key: #{$genre}-disabled);
          .toggle-middle {
            background-color: map-get(
              $map: $genre-background-colors,
              $key: #{$genre}-disabled
            );
          }
        }
      }
    }
  }
}
