/**
 * Control: Checkbox
 */
@include comp('checkbox') {
  @include extend-atom('form-widget');

  transition: transition($form-widget-transition-duration);

  @include elem('widget') {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  @include elem('symbol-outer') {
    width: $form-radio-symbol-size;
    height: $form-radio-symbol-size;
    line-height: $form-radio-symbol-size;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  @include elem('symbol') {
    position: relative;

    width: $form-checkbox-symbol-size;
    height: $form-checkbox-symbol-size;
    line-height: $form-checkbox-symbol-size;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: $border-radius-base;

    transition: transition($form-widget-transition-duration);
  }

  @include elem('symbol-inner') {
    position: absolute;
    top: 0.01rem;
    bottom: 0.01rem;
    left: 0.01rem;
    right: 0.01rem;

    width: $form-checkbox-symbol-size - 0.02rem;
    height: $form-checkbox-symbol-size - 0.02rem;
    line-height: $form-checkbox-symbol-size - 0.02rem;

    border-radius: $border-radius-base;

    transition: transition($form-widget-transition-duration);
    transform: translate3d(0);
  }

  @include elem('symbol-check') {
    position: relative;

    font-size: 0.12rem;
    line-height: 1;
    color: $color-white;

    transform: scale(0);
  }

  @include elem('label') {
    padding: 0 $form-widget-gutter;
  }

  // STYLE

  @each $theme in $enum-theme {
    @include prop((theme: $theme)) {
      color: theme('#{$theme}-fg-normal');

      @include elem('symbol') {
        background-color: theme('#{$theme}-fg-normal');
      }
      @include elem('symbol-inner') {
        background-color: theme('#{$theme}-bg-normal');
      }
    }
  }

  &:hover,
  &:focus {
    color: tone('primary-standard');
    @include elem('symbol') {
      background-color: tone('primary-standard');
    }
  }

  @keyframes vd-checkbox-checked-inner {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes vd-checkbox-checked-check {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @include when('checked') {
    @include elem('symbol') {
      background-color: tone('primary-standard');
    }
    @include elem('symbol-inner') {
      animation: vd-checkbox-checked-inner $form-widget-transition-duration ease-in-out
        forwards;
    }
    @include elem('symbol-check') {
      animation: vd-checkbox-checked-check $form-widget-transition-duration ease-in-out
        forwards;
    }
  }
}

/**
 * Control: CheckboxGroup
 */
@include comp('checkbox-group') {
  $radio-gutter: $gutter-base / 2;

  margin: -$radio-gutter;
  padding: $radio-gutter / 2;

  > .#{class-comp('checkbox')} {
    margin: $radio-gutter / 2;
  }
}
