/**
 * Control: Radio
 */
@include comp('radio') {
  @include extend-atom('form-widget');

  transition: transition($form-widget-transition-duration);

  @include elem('widget') {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  @include elem('symbol', 'symbol-inner') {
    position: relative;
  }

  @include elem('symbol') {
    width: $form-radio-symbol-size;
    height: $form-radio-symbol-size;
    line-height: $form-radio-symbol-size;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    transition: transition($form-widget-transition-duration);
  }

  @include elem('symbol-inner') {
    width: $form-radio-symbol-size - 0.02rem;
    height: $form-radio-symbol-size - 0.02rem;
    line-height: $form-radio-symbol-size - 0.02rem;

    border-radius: 50%;

    transition: transition($form-widget-transition-duration);
    transform: translate3d(0);
  }

  @include elem('label') {
    padding: 0 $form-widget-gutter;
  }

  // STYLE

  @each $theme in $enum-theme {
    @include prop((theme: $theme)) {
      color: theme('#{$theme}-fg-normal');

      @include elem('symbol') {
        background-color: theme('#{$theme}-fg-normal');
      }
      @include elem('symbol-inner') {
        background-color: theme('#{$theme}-bg-normal');
      }
    }
  }

  &:hover,
  &:focus {
    color: tone('primary-standard');
    @include elem('symbol') {
      background-color: tone('primary-standard');
    }
  }

  @keyframes vd-radio-checked-inner {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale($form-radio-symbol-inner-size / $form-radio-symbol-size);
    }
  }

  @include when('checked') {
    @include elem('symbol') {
      background-color: tone('primary-standard');
    }
    @include elem('symbol-inner') {
      background-color: $color-white;
      animation: vd-radio-checked-inner $form-widget-transition-duration ease-in-out
        forwards;
    }
  }
}

/**
 * Control: RadioGroup
 */
@include comp('radio-group') {
  $radio-gutter: $gutter-base / 2;

  margin: -$radio-gutter;
  padding: $radio-gutter / 2;

  > .#{class-comp('radio')} {
    margin: $radio-gutter / 2;
  }
}
